@import '../libs/Icons'
@import '../libs/Colors'

.banners
	width 100%
	border-radius 16px
	
	.tns-outer
		width 100%
		
	.swiper-pagination
		position relative
		bottom 0
		top 0
		width 100%
		display flex
		align-items center
		justify-content center
		margin 2rem 0 0
		
		.swiper-pagination-bullet
			square 1rem
			border-radius 999px
			margin 0 .53rem
			background alpha($black, .12)
			opacity 1
			
			&.swiper-pagination-bullet-active
				background $green
	
	.banner
		position relative
		min-height 50rem
		max-height 60vh
		overflow hidden
		border-radius 16px
		background $green
		display flex
		cursor pointer
		
		@media screen and (min-width: 1921px)
			min-height 70rem
			max-height 70vh

		a
			display flex
			flex 1
			text-decoration none
		
		.image
			position absolute
			top 0
			left 0
			square 100%
			background $green
			z-index 10
			bgsize cover
			background-position center 0
			
			&:before
				content ""
				position absolute
				bottom 0
				left 0
				width 100%
				height 80%
				linear_gradient(bottom, black, transparent)
			
		.content
			position relative
			z-index 20
			padding 2.8rem
			box()
			flex 1
			display flex
			justify-content space-between
			flex-direction column
			
			.categoria
				text-transform uppercase
				
				span.description
					font-size 1.5rem
					color alpha(#fff, .8)
					
				h2.title
					font-size 4.5rem
					font('black')
					color #fff
				
			.infos
				display flex
				align-items center
				flex-direction column
				
				h3.title
					position relative
					font-size 3.32rem
					color #fff
					font('bold')
					padding 0 0 2.5rem 0
					box()
					text-align center
					
					&:after
						content ""
						position absolute
						bottom 0
						left 0
						right 0
						margin auto
						width 5rem
						height 1px
						background alpha(#fff, .8)
					
				.description
					font-size 1.32rem
					color alpha(#fff, .8)
					text-align center
					max-width 62%
					line-height normal
					padding 2.5rem 0 0 0
					box()
					
				.publication
					margin 2.5rem 0 0 0
					font-size 1.1rem
					
					.description-date
						color alpha(#fff, .8)
						
					.date
						color #fff
						font('medium')
						display inline-block
						margin 0 0 0 .32rem
						
			@media screen and (max-width: 920px)
				padding 1.32rem
				
				.categoria
					h2.title
						font-size 3.8rem
				
				.infos
					h3.title
						font-size 2rem
						padding 0 0 1.5rem 0
						
					.description
						font-size 1.32rem
						padding 1.5rem 0 0 0
						
			@media screen and (max-width: $mobile)
				.infos
					.description
						max-width 90%
						
					h3.title
						font-size 1.8rem
						padding 0 0 1.5rem 0
						
				.categoria
					h2.title
						font-size 2.8rem
						
		@media screen and (max-width: $mobile)
			min-height 40rem