@import '../libs/Icons'
@import '../libs/Colors'

.list-edicoes
	display grid
	grid-template-columns 1fr 1fr 1fr
	grid-column-gap 1.5rem
	grid-row-gap 1.5rem
	
	.edicao
		display none
		
		&.active
			display block
			
	@media screen and (max-width: 920px)
		grid-template-columns 1fr 1fr

.edicao
	a
		display flex
		flex-direction column
		text-decoration none
		color $black
		
		&:hover
			.content-edicao 
				.header-content 
					.infos 
						h3.title
							color $orange
		
	&:first-child
		grid-column-start 1
		grid-column-end 4
		margin 0 0 3rem 0
		
		a
			flex-direction row
			
		.image
			width 50%
			height 30rem
			border-radius 6px
			
		.content-edicao
			width 50%
			padding 1.2rem 0 1.2rem 3.7rem
			box()
			background transparent
			
			.header-content
				flex none

				.infos
					margin 1.53rem 0 0
					h3.title
						width 75%
						font-size 3rem
						line-height 3.5rem
						
					.number
						font-size 1.53rem
				
			.text
				// margin 4rem 0 0
				flex 1
				display flex
				justify-content space-between
				flex-direction column
				
				p.substract
					font-size 1.5rem
					line-height 2rem
					
		@media screen and (max-width: $mobile)
			.image
				height 18rem
				
		@media screen and (max-width: 920px)
			grid-column-end 3
			
			a
				flex-direction column
				
			.image
				width 100%
				border-radius 6px 6px 0 0
				
			.content-edicao
				width 100%
				padding 1.2rem
				background #fff
				border-radius 6px
	
	.image
		width 100%
		height 15rem
		background red
		border-radius 6px 6px 0 0
		bgsize cover
		background-position center 0
		
	.content-edicao
		width 100%
		padding 1rem
		box()
		display flex
		flex-direction column
		background #fff
		border-radius 6px
		
		.header-content
			flex 1

			.publication
				margin 1rem 0 0 0
				font-size 1.1rem
				
				.description-date
					color alpha($black, .53)
					
				.date
					color $black
					font('medium')
					display inline-block
					margin 0 0 0 .32rem
					
			.infos
				margin .53rem 0 0
				
				h3.title
					font-size 1.8rem
					font('medium')
					line-height 2rem
					text-transform uppercase
					display block
					
				.number
					display block
					margin .53rem 0 0
					text-transform uppercase
					font-size 1rem
					font('medium')
			
		.text
			width 100%
			margin .8rem 0 0
			
			p.substract
				font-size 1.2rem
				line-height 1.6rem
				color alpha($black, .53)
				margin .8rem 0 1rem
					
			.link
				font('medium')
				font-size 1.2rem
				text-decoration none
				color $black
				margin 2rem 0 0