@import '../libs/icons'
@import '../libs/colors'

.event
	background $green
	display flex
	flex-direction column
	border-radius 6px
	overflow hidden
	background #fff
	
	&:hover
		a
			.text
				h3.title
					color $green
	
	a
		width 100%
		display flex
		flex-direction column
		text-decoration none
	
	.image
		width 100%
		height 12rem
		background $green
		bgsize cover
		background-position center 0
		
		@media screen and (max-width: $mobile)
			height 8rem
			
	.content-evento
		display flex
		flex-direction column
		padding 1.2rem 1.5rem
		width 100%
		box()
		flex 1
		
		.header-content
			width 100%
			color $green
			
			.categoria
				font-size 1rem
				font('book')
				
			.wrap-date
				font-size 1.6rem
				font('bold')
				margin .53rem 0 0
				display flex
				text-transform uppercase
				
				h3
					display inline-block
					
					&.date
						margin 0 .8rem 0 0
						display inline-flex
						align-items center
						
						&:after
							content ""
							position relative
							top -.25rem
							width 1px
							height 1rem
							background $green
							margin 0 0 0 .8rem
			
		.text
			flex 1
			width 100%
			margin 1rem 0
			
			h3.title
				font-size 1.53rem
				line-height 1.9rem
				font('medium')
				color $black
				
			.substract
				width 100%
				font-size 1.2rem
				line-height 1.65rem
				color alpha($black, .53)
				margin .8rem 0 0
				
		.local
			font-size 1rem
			line-height 1.32em
			color alpha($black, .53)
			display flex
			width 100%
			// flex 1
			
			&:before
				content ""
				square 1.2rem
				mask($pin)
				display block
				background alpha($black, .53)
				margin 0 .53rem 0 0
				flex none
				
		@media screen and (max-width: $mobile)
			.content-evento
				.text
					h3.title
						font-size 1.32rem
			
	&:first-child
		grid-column-start 1
		grid-column-end 4
		margin 0 0 3rem 0
		background-color transparent
		
		a
			flex-direction row
			
		.image
			width 50%
			height 40rem
			background $green
			border-radius 6px
			bgsize cover
			background-position center 0
			
			@media screen and (max-width: $mobile)
				height 20rem
			
		.content-evento
			width 50%
			padding .32rem 0 .32rem 3.7rem
			box()
			
			.header-content
				.categoria
					font-size 1.2rem
					
				.wrap-date
					font-size 2.3rem

				.infos
					margin 1.53rem 0 0
					
					h3.title
						width 75%
						font-size 3rem
						line-height 3.5rem
						
					.number
						font-size 1.53rem

			.local
				margin 2rem 0 0
				font-size 1.2rem
				line-height 1.7rem
				// flex none
					
				&:before
					square 1.53rem
					margin 0 1rem 0 0
				
			.text
				margin 4rem 0
				
				h3.title
					font-size 3rem
					line-height 3.5rem

				.substract
					font-size 1.5rem
					line-height 2rem
					
		@media screen and (max-width: 920px)
			a
				grid-column-end 3
				flex-direction column
				
			.image
				width 100%
				border-radius 6px 6px 0 0
				
			.content-evento
				width 100%
				padding 1.2rem
				background #fff
				border-radius 6px
				
				.text
					margin 2rem 0
					
		@media screen and (max-width: $mobile)
			.content-evento
				.text
					h3.title
						font-size 2.53rem
			
				.header-content
					.wrap-date
						font-size 2rem