@import '../libs/Icons'
@import '../libs/Colors'

body
	&[data-currentstep="1"]
		.form-cadastro .pagination li .btnNav[value="1"]
			background $green
			opacity 1
			border-color $green
	&[data-currentstep="2"]
		.form-cadastro .pagination li .btnNav[value="2"]
			background $green
			opacity 1
			border-color $green
	&[data-currentstep="3"]
		.form-cadastro .pagination li .btnNav[value="3"]
			background $green
			opacity 1
			border-color $green
	&[data-currentstep="4"]
		.form-cadastro .pagination li .btnNav[value="4"]
			background $green
			opacity 1
			border-color $green
		
.form-cadastro
	position fixed
	top 0
	left 0
	square 100%
	z-index 99
	display none
	flex-direction row
	justify-content center
	align-items flex-start
	background alpha($black, .8)
	padding 10rem 2rem
	overflow-y auto
	box()
	
	.btn-close
		position sticky
		top -8rem
		padding 0
		square 4rem
		margin-right auto
		margin-top 2rem
		margin-left 2rem
		background alpha($black, .15)
		border 0
		display flex
		align-items center
		justify-content center
		
		input
			position absolute
			top 0
			left 0
			square 100%
			padding 0
			margin 0
			opacity 0
			cursor pointer
		
		&:before
			content ""
			square 1.53rem
			background alpha($black, .8)
			mask($cancel)
	
	@media screen and (max-width: $tablet)
		padding 5rem 1.32rem
		
	&.show-cadastro
		display flex

	.pagination
		position sticky
		top -9rem
		display flex
		flex-direction column
		margin 0 0 0 1.8rem
		
		@media screen and (max-width: $tablet)
			display none
		
		li
			square 3.53rem
			margin 0 0 1rem 0
			
			&:last-child
				margin 0
			
			.btnNav
				display flex
				square 100%
				align-items center
				font-size 1.4rem
				justify-content center
				border 1px solid $green
				border-radius 3px
				color #fff
				cursor pointer
				font('medium')
				box-shadow 0px 3px 6px alpha($black, .12)
				
				&[disabled]
					pointer-events none
					border 1px solid alpha(#fff, .32)
					opacity .2
	
	.container-form
		position relative
		width 100%
		max-width 960px
		background #fff
		display flex
		flex-direction column
		align-items center
		box-shadow 0px 15px 30px alpha($black, .53)
		border-radius 6px
		
		&:before
			content ""
			position sticky
			top -10rem
			width 100%
			height .53rem
			z-index 10
			background $green
	
	.step
		position relative
		width 100%
		max-width 620px
		display none
		flex-direction column
		align-items center
		padding 5rem 2rem
		border-radius 6px
		margin 0
		box()
			
		@media screen and (max-width: $tablet)
			padding 5rem 1.8rem
		
		.wrap-loading
			display none
			
		&.loading
			.wrap-loading
				position absolute
				top 0
				left 0
				square 100%
				background alpha(#fff, .9)
				display flex
				align-items center
				justify-content center
				flex-direction column
				z-index 10
				
				&:before
					content ""
					square 4rem
					replace($loading)
					bgsize contain
					display block
				
				h4
					text-align center
					font-size 2rem
					color $black
					
				span
					width 100%
					display block
					max-width 75%
					font-size 1.32rem
					color alpha($black, .53)
					text-align center
			
		.btn
			cursor pointer
		
		.buttons
			display flex
			align-items center
			width 100%
			margin 3rem 0 0
			
			.btn
				width 100%
				margin 0 1rem 0 0
				display block
				border 2px solid $green
				flex 1
				box()
				
				&.btn-close-fim
					position relative
					
					input
						position absolute
						top 0
						left 0
						square 100%
						padding 0
						margin 0
						opacity 0
						cursor pointer
				
				&.btnPrev
					background-color transparent
					color $green
				
				&:last-child
					margin 0
					
		&.step-show
			display flex
			
		.icon
			square 12rem
			background red
			replace($icon-cadastro, center, center)
			bgsize contain
			margin 0 0 3rem 0
			
			&.icon-obrigado
				replace($obrigado, center, center)
				bgsize contain
				
			&.iconFim
				replace($fail, center, center)
				bgsize contain
				
			@media screen and (max-width: $tablet)
				square 8rem
				
		h1.title
			width 100%
			font-size 4rem
			text-transform uppercase
			font('black')
			text-align center
			
		h3.title
			width 100%
			font-size 2.15rem
			text-transform uppercase
			color $green
			font('medium')
			display block
			margin 0 0 .8rem 0
			
		h4.title
			width 100%
			font-size 1.53rem
			text-transform uppercase
			color $black
			font('medium')
			display block
			margin 1.8rem 0 .8rem 0
		
		h3.title-profissionais
			margin 2rem 0 1.15rem 0
			padding 3rem 0 0
			border-top 1px dashed alpha($black, .15)
			box()
			
		p.description
			font-size 1.32rem
			color alpha($black, .53)
			text-align center
			display block
			margin 1rem 0 4rem 0
			line-height 1.62rem
			
			b
				font('medium')
				font-weight normal
				color alpha($black, .8)
		
		@media screen and (max-width: $tablet)
			h1.title
				font-size 3rem
			
			h3.title
				font-size 1.8rem
			
			h4.title
				font-size 1.15rem
				
			p.description
				font-size 1.15rem
		
		@media screen and (max-width: $mobile)
			h1.title
				font-size 2.53rem
			
			h3.title
				font-size 1.53rem
			
			h4.title
				font-size 1rem
				
			p.description
				font-size 1rem
		
		.pristine-error,
		.text-help
			color $red
			font-size 1rem
			display block
			margin .32rem 0 0
		
		.posGrads
			width 100%
				
			.inputWrapper
				// &:nth-child(1)
				// 	margin-top 3rem
					
				&:nth-child(4)
					margin 0
		
		.group-especialidades
			width 100%
			margin 1rem 0 0
			
			.wrap-file
				margin 0 0 1rem 0
				padding 0 0 1rem 0
				box()
				border-bottom 1px solid alpha($black, .15)
				
				&:last-child
					margin 0
					border 0

		.btn-delete
			padding 0
			position relative
			square 3.53rem
			background alpha($black, .12)
			display flex
			border 0
			align-items center
			justify-content center
			border-radius 50%
			cursor pointer
			flex none
			
			&:before
				content ""
				square 1.53rem
				background alpha($black, .8)
				mask($delete)
				
			&:hover
				background alpha($black, .8)
				
				&:before
					background #fff
		
		.doctorName
			position relative
			opacity 1
			margin 0.53rem 0 0
				
		#OutraPos
			width 100%
			margin 2rem 0 0
			
			.posGrads
				position relative
				background #F7F7F7
				box-shadow 0px 3px 6px alpha($black, .12)
				border-radius 12px
				padding 2rem
				margin 0 0 1rem 0
				box()
				
				.btn-delete
					position absolute
					top 2rem
					right 2rem
					square 2.53rem
			
		#addPosGrad,
		#btnAddEspecialidade,
		#conditionalFieldTriggerBtn
			width 100%
			border-radius 999px
			border 1px solid alpha($black, .15)
			padding 1.32rem 2rem
			font-size 1.32rem
			box()
			color alpha($black, .8)
			font('medium')
			outline none

		#conditionalField
			margin 2rem 0 0
			
		#especialidades
			width 100%
			margin 1rem 0
			
			.especialidade-add
				display flex
				align-items center
				margin 0 0 1rem 0
				
				&:last-child
					margin 0
				
				.btn-delete
					margin 0 0 0 1rem
		
		#OutroHospCredenciado
			background #f7f7f7
			box-shadow 0 3px 6px rgba(45, 46, 47, 0.12)
			border-radius 12px
			padding 2rem
			margin 0 0 1rem 0
			box()
			
			.inputWrapper
				position relative
				margin-bottom 1rem	
				
				.btn-delete
					position absolute
					top 0
					right .32rem
					bottom 0
					margin auto

			.hospConvenio
				position relative
				background #F7F7F7
				box-shadow 0px 3px 6px alpha($black, .12)
				border-radius 12px
				padding 6rem 2rem 2rem 2rem
				margin 0 0 1rem 0
				box()
				
				.btn-delete
					position absolute
					top 2rem
					right 2rem
					square 2.53rem
					
				.labelsWithAsterisk
					font-size 1.32rem
					
			.conditionalSubField
				margin 2rem 0 0
				
				&.loading
					.inputWrapper
						position relative
						
						&:before
							content 'Carregando covênios ...'
							position absolute
							bottom 1.32rem
							font('book')
							left 2rem
							font-size 1.15rem
							color $green
					
				.inputWrapper
					margin 0

		.inputWrapper
			width 100%
			margin 0 0 3.15rem 0
			display block
			
			@media screen and (max-width: $tablet)
				margin 0 0 2.53rem 0
				
			&.box-doctor
				margin 0
				
			&.inputWrapper-radio-n
				margin-top 1rem

			input,
			select,
			.ss-main
				width 100%
				border-radius 999px
				background-color alpha($black, .03)
				padding 1.32rem 2rem
				font-size 1.32rem
				font('light')
				border 0
				box()
				outline none
				
				@media screen and (max-width: $tablet)
					padding 1.15rem 1.53rem
					font-size 1.15rem
				
			.ss-main
				padding 0
				background-color transparent
				
				&.specialismWithTitle
					.ss-multi-selected
						.ss-add
							&:after
								content "Selecionar especialidade"
				&.setor
					.ss-multi-selected
						.ss-add
							&:after
								content "Adicionar departamento"
								
				&.funcoes
					.ss-multi-selected
						.ss-add
							&:after
								content "Adicionar função"
				&.conveniosSelect
					.ss-multi-selected
						.ss-add
							&:after
								content "Adicionar convênio"
								
			.addHosp
				width 100%
				border-radius 999px
				background-color alpha($black, .03)
				color alpha($black, .62)
				padding 1.32rem 2rem
				font-size 1.32rem
				font('light')
				border 0
				box()
				margin 0
				outline none
				display flex
				align-items center
				justify-content center
				
				b
					color alpha($black, 1)
					display block
					margin 0 1rem 0 0
			
			.ss-multi-selected
				background-color transparent
				border 0
				min-height auto
				padding 0
				margin 0
				flex-direction column
				
				.ss-values
					width 100%
					flex-direction column
					
					.ss-value
						width 100%
						justify-content space-between
						background $green
						padding 1.32rem 2rem
						font-size 1.32rem
						border-radius 99px
						// padding 1rem
						margin 0 0 .53rem 0
						box()
						
						&:last-child
							margin-bottom 1.15rem
						
						.ss-value-text,
						.ss-value-delete
							font-size 1.32rem
							font('regular')
							
						// .ss-value-delete
						// 	font-size 1.8rem
						// 	font('medium')
							
						.ss-value-delete
							position absolute
							right 1rem
							square 3.32rem
							background transparent
							display flex
							padding 0
							border 0
							text-indent -9999px
							align-items center
							justify-content center
							border-radius 50%
							cursor pointer
							flex none
							
							&:after
								content ""
								square 1.53rem
								background alpha($black, .8)
								mask($delete)
								
							&:hover
								// background alpha($black, .8)
								
								&:after
									background #fff
						
				.ss-disabled
					margin 0
					padding 0
					line-height normal
					display none
					
				.ss-add
					width 100%
					border-radius 999px
					background-color alpha($black, .03)
					padding 1.32rem 2rem
					font-size 1.32rem
					font('light')
					border 0
					box()
					margin 0
					outline none
					display flex
					align-items center
					justify-content center
					
					&:after
						content "Adicionar especialidade"
						margin 0 0 0 1rem
			
			.ss-content
				bottom 0
				left 0
				margin 0
				transform scaleY(1) translateY(100%)
				visibility hidden
				
				&.ss-open
					left 0
					margin 0
					border-radius 16px
					padding 1.35rem
					transform scaleY(1) translateY(104%)
					box()
					visibility visible
					
					.ss-search
						position relative
						margin 0 0 1rem 0
						padding 0
						
						&:after
							content ""
							square 1.53rem
							background $green
							position absolute
							top 0
							bottom 0
							margin auto
							right 2rem
							mask($search)
						
						input
							height auto
							
							&:focus
								box-shadow none
							
					.ss-list
						.ss-option
							padding 1rem 2rem
							border-radius 99px
							box()

			&.loading
				position relative
				// background red
				
				&:before
					content attr(data-loading)
					position absolute
					bottom 1.32rem
					font('book')
					right 2rem
					font-size 1.15rem
					color $green
				
			&.erro
				position relative
				// background red
				
				&:after
					content attr(data-erro)
					color $red
					font-size 1rem
					display block
					margin .32rem 0 0
				
			&.has-danger
				input,
				select
					border 1px solid $red
				
			select
				appearance none
				background-image url($arrow-down)
				background-repeat no-repeat
				background-position 95% 50%
				
			.labelsWithAsterisk
				display flex
				align-items center
				font-size 1.53rem
				font('medium')
				color alpha($black, 1)
				margin 0 0 .53rem 0
				
				@media screen and (max-width: $tablet)
					font-size 1.32rem
				
				.asterisco
					color $orange
		
		.wrap-file
			display flex
			align-items center
			justify-content space-between
			position relative
			width 100%
			cursor pointer
			margin 0 0 2rem 0
			
			.text-help
				position absolute
				bottom 0
				left 0
				margin 0
				transform translateY(105%)
			
			&.attachment
				.description-label
					font('medium')
					color $green
					
				&:after
					display none
			
			.btn-delete
				padding 0
				position relative
				square 2.53rem
				background alpha($black, .12)
				display flex
				border 0
				align-items center
				justify-content center
				border-radius 50%
				cursor pointer
				flex none
				
				&:before
					content ""
					square 1.32rem
					background alpha($black, .8)
					mask($delete)
					mask-size contain
					
				&:hover
					background alpha($black, .8)
					
					&:before
						background #fff
			
			input
				position absolute
				top 0
				left 0
				opacity 0
				square 100%
				padding 0
				cursor pointer
				// z-index 10
			
			.description-label
				width 100%
				display flex
				flex-direction column
				font-size 1.4rem
				line-height normal
				
				strong 
					font-size 1.12rem
					color alpha($black, .53)
					
				&:after
					content attr(data-namefile)
					font('book')
					font-size 1.12rem
					color $black
					display block
					margin .32rem 0 0
			
			&:hover
				.description-label
					color $green
				
			&:after
				content ""
				square 2rem
				background $green
				flex none
				mask($icon-download)
				
			&.wrap-photo
				display flex
				margin 0 0 3rem 0
				justify-content flex-start
				
				&:after
					display none
					
				.preview-photo
					position relative
					display flex
					align-items center
					justify-content center
					width 10rem
					height 11rem
					overflow hidden
					background #F8F8F8
					box()
					
					.btn-delete
						position absolute
						top .53rem
						right .53rem
						z-index 20
						background #fff
						
						&:hover
							&:before
								background $black
					
					&.attachment
						img
							display block
							
						&:before
							display none
							
					&.attachment + .group-title
						.btn
							display none
						
						.change-file
							display block
					
					img
						width auto
						max-width none
						max-height 100%
						height 100%
						display none
					
					&:before
						content ""
						square 4.53rem
						bg($icon-upload-phone, center, center)
						bgsize contain
					
				.group-title
					display flex
					flex-direction column
					margin 0 0 0 2rem
					
					b
						display block
						font-size 1.8rem
						font('medium')
						font-weight normal
					
					.btn
						width fit-content
						font-size 1.15rem
						margin 1rem 0 0
						padding 1rem 2rem
						pointer-events none
					
					.change-file
						display none
						
					span
						display block
						margin .53rem 0 0
						font-size 1.12rem
						color alpha($black, .53)
				
		.inputWrapper-radio
			position relative
			display flex
			font-size 1.32rem
			margin 0 0 1rem 0
			align-items center
			
			&.outro
				flex-direction column
				
				.group
					width 100%
					display flex
					align-items center
			
			.outroTextField
				position relative
				opacity 1
				margin .53rem 0 0
				
			.icon-checked
				square 1.8rem
				border-radius 50%
				background alpha($black, .15)
				display flex
				align-items center
				justify-content center
				margin 0 .53rem 0 0
				
				&:before
					content ""
					square .53rem
					display none
					background #fff
					border-radius 50%
			
			input
				position absolute
				top 0
				left 0
				square 100%
				opacity 0
				margin 0
				
				&:checked + .icon-checked
					background $green
					
					&:before
						display block
						
		.inlineInputs
			width 100%
			display flex
			margin 0 0 3.15rem 0
			
			.inputWrapper
				margin 0 1rem 0 0
				
				&:last-child
					margin 0
			
		.btn
			padding 1rem 3rem
			box()
			background $green
			border-radius 3px
			text-align center
			color #fff
			font-size 1.32rem
			font('medium')