@import '../libs/Icons'
@import '../libs/Colors'

.new
	width 100%
	margin 0 0 1.9rem 0
	border-bottom 1px solid alpha($black, .12)
	
	a
		width 100%
		display flex
		padding 0 0 1.9rem 0
		text-decoration none
		color $black
		
	.header-content
		width 100%
		
		.publication
			margin 1rem 0 0 0
			font-size 1.1rem
			
			.description-date
				color alpha($black, .53)
				
			.date
				color $black
				font('medium')
				display inline-block
				margin 0 0 0 .32rem

	.image
		width 12rem
		height 11rem
		background $green
		border-radius 6px
		flex none
		bgsize cover
		background-position center 0
		
	.content-new
		display flex
		padding 0 0 0 2.5rem
		box()
		flex-direction column-reverse
		justify-content space-between
		flex 1
		
		.text
			width 100%
			margin 0
			
			h3.title
				font-size 1.8rem
				line-height 2rem
				font('medium')
				
			p.substract
				font-size 1.2rem
				line-height 1.6rem
				color alpha($black, .53)
				
	&:hover
		.content-new 
			.text 
				h3.title
					color $green
	
	&:nth-child(7n)
		margin 0 0 6rem 0
		border 0
		
		a
			padding 0
				
	&:last-child
		margin 0
		border 0
		padding 0
		
.list-news
	&.destaque
		.new
			&:nth-child(7n + 1)
				margin 0 0 6rem 0
				border 0
				
				a
					padding 0
					flex-direction column
					display block
				
				.content-new
					padding 0
				
				.image
					width 100%
					height 38rem
					background-color $green
					border-radius 6px
					bgsize cover
					background-position center 0
					
					@media screen and (max-width: $mobile)
						height 18rem
					
				.text
					width 100%
					margin 1rem 0 0
					
					h3.title
						font-size 3rem
						font('medium')
						line-height 3.5rem
						
					p.substract
						font-size 1.5rem
						line-height 2rem
						color alpha($black, .53)
							
				@media screen and (max-width: $mobile)
					.text
						h3.title
							font-size 2.8rem
							
						p.substract
							font-size 1.32rem
							line-height 1.8rem