@font-face {
  font-family: 'ff-thin';
  src: url("../../fonts/font-thin.woff2") format('woff2'), url("../../fonts/font-thin.woff") format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'ff-light';
  src: url("../../fonts/font-light.woff2") format('woff2'), url("../../fonts/font-light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ff-bold';
  src: url("../../fonts/font-bold.woff2") format('woff2'), url("../../fonts/font-bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ff-black';
  src: url("../../fonts/font-black.woff2") format('woff2'), url("../../fonts/font-black.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'ff-extraLight';
  src: url("../../fonts/font-extraLight.woff2") format('woff2'), url("../../fonts/font-extraLight.woff") format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'ff-book';
  src: url("../../fonts/font-book.woff2") format('woff2'), url("../../fonts/font-book.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ff-medium';
  src: url("../../fonts/font-medium.woff2") format('woff2'), url("../../fonts/font-medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'ff-regular';
  src: url("../../fonts/font-regular.woff2") format('woff2'), url("../../fonts/font-regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ff-ultra';
  src: url("../../fonts/font-ultra.woff2") format('woff2'), url("../../fonts/font-ultra.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'ff-thin';
  src: url("../../fonts/font-thin.woff2") format('woff2'), url("../../fonts/font-thin.woff") format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'ff-light';
  src: url("../../fonts/font-light.woff2") format('woff2'), url("../../fonts/font-light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ff-bold';
  src: url("../../fonts/font-bold.woff2") format('woff2'), url("../../fonts/font-bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ff-black';
  src: url("../../fonts/font-black.woff2") format('woff2'), url("../../fonts/font-black.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'ff-extraLight';
  src: url("../../fonts/font-extraLight.woff2") format('woff2'), url("../../fonts/font-extraLight.woff") format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'ff-book';
  src: url("../../fonts/font-book.woff2") format('woff2'), url("../../fonts/font-book.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ff-medium';
  src: url("../../fonts/font-medium.woff2") format('woff2'), url("../../fonts/font-medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'ff-regular';
  src: url("../../fonts/font-regular.woff2") format('woff2'), url("../../fonts/font-regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ff-ultra';
  src: url("../../fonts/font-ultra.woff2") format('woff2'), url("../../fonts/font-ultra.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}
.auth {
  background: #f00;
}
