@import '../libs/Icons'
@import '../libs/Colors'
@import '../libs/Mixins'

.main-menu
    .group-logo
        .btn-search
            display none
            
.header-auth
    width 100%
    display none
    justify-content space-between
    align-items center
    min-height 3.53rem
    // background red
    // padding 1.2rem 0
    box()
    
    .list
        flex 1
        display flex
        align-items center
        
        .menu
            flex 1
            display flex
            align-items center
        
        .menu-item
            display flex
            align-items center
            margin 0 3rem 0 0
            cursor pointer
                
            a
                position relative
                top .2rem
                display flex
                align-items center
                font-size 1.53rem
                text-decoration none
                color alpha($black, .8)
                opacity .8
                
                &:before
                    content ""
                    square 2.53rem
                    display block
                    background $black
                    margin 0 .53rem 0 0
                    
                &:hover
                    opacity 1
                
            &.item-portal
                a
                    &:before
                        mask($home)
                    
            &.item-auth
                a
                    &:before
                        mask($auth-default)
                        
            &.current-menu-item,
            &.current-page-ancestor
                pointer-events none
                
                a
                    color $green
                    font('medium')
                    opacity 1
                    
                    &:before
                        background-color $green
                    
    .wrap-profile
        position relative
        
        .photo
            display flex
            align-items center
            cursor pointer
            
            .icon
                square 3.53rem
                border-radius 50%
                background alpha($black, .05)
                
                &:before
                    content ''
                    square 100%
                    display block
                    mask($user)
                    mask-size 65%
                    background alpha($black, .32)
                
            &:after
                content ""
                square 1rem
                background $black
                display block
                mask($arrow-down)
                margin 0 0 0 1rem
            
        .group
            position absolute
            padding 1.53rem
            width 100%
            min-width 220px
            right 0
            // transform translateX(-100%)
            // transform translateX(-100%)
            visibility hidden
            opacity 0
            background #fff
            box-shadow 3px 12px 12px #2D2E2F1F
            border-radius 12px
            box()
            
            .btn-logout
                width 100%
                margin 1rem 0 0
                border-color $green
                background-color $green
                color #fff

                &:hover
                    border-color darken($green, 25%)
                    background darken($green, 25%)
                
            .group-auth
                display flex
                width 100%

                .icon
                    display flex
                    align-items center
                    justify-content center
                    square 3.8rem
                    flex none
                    border-radius 999px
                    background alpha($black, .05)

                    &:before
                        content ''
                        square 100%
                        display block
                        mask($user)
                        mask-size 65%
                        background alpha($black, .32)

                .infos
                    display flex
                    flex-direction column
                    margin 0 0 0 1rem

                    .title
                        font-size 1.53rem
                        font('book')

                    .description
                        font-size 1rem
                        line-height 1.32rem
                        color alpha($black, .62)
                        display block
                        margin .32rem 0 0
            
            &:hover
                opacity 1
                visibility visible
            
        &:hover
            .group
                opacity 1
                visibility visible       
    
    @media screen and (max-width: $mobile)
        position fixed
        bottom 0
        left 0
        box-shadow 0px -4px 16px #2D2E2F0D
        background #fff
        padding 1rem
        box()
        
        .list
            width 75%
            // background red
            
            .menu
                justify-content space-between
                box()
                
            .menu-item
                flex 1
                margin 0
                justify-content center
                
                a
                    flex-direction column
                    font-size 1.32rem
                    
                    &:before
                        square 2rem
                        margin 0 0 .8rem 0
                    
        .wrap-profile
            width 25%
            background blue
            display none
            
            .photo
                &:after
                    display none
                    
            .group
                position fixed
                bottom 0
                left 0
                background red
                // opacity 1
                // visibility visible
                border-radius 12px 12px 0 0

.auth
    background #F7F7F7
    
    &:before
        content ""
        position fixed
        top 0
        left 0
        width 100%
        height 7rem
        background #fff
        box-shadow 0px 4px 16px #2D2E2F0D
        z-index 30
        
        @media screen and (max-width: $tablet)
            display none

    .header-auth
        display flex
    
    .aside-apps
        padding-top 1.6rem
        z-index 50
        
        .wrap-apps
            position sticky
            top 1.6rem
        
            .wrap-options 
                .wrap-login
                    display none
                    
    .header
        position sticky
        top 0
        z-index 40
        padding-top 1.6rem
        padding-bottom 7rem
        
        @media screen and (max-width: $tablet)
            padding 2rem 0
            margin 0 0 4rem 0

        .search
            display none
            
        @media screen and (max-width: $tablet)
            &:before
                content ""
                position absolute
                top 0
                left 50%
                width 150%
                height 100%
                transform translateX(-50%)
                background #fff
                box-shadow 0px 4px 16px #2D2E2F0D
                z-index -1
        
    .main-menu
        z-index 40
        padding-top 1.7rem
        
        .tools-menu-mobile
            .wrap-login
                .btn-login
                    display none
                    
                .btn-logout
                    display block
        
        @media screen and (max-width: $tablet)
            z-index 999

        .group-top
            margin-top 7rem
            
            @media screen and (max-width: $tablet)
                margin 3rem 0
                
        .group-logo
            .wrap-logo
                mask($logo-mini)
                flex 1
                
                @media screen and (max-width: $tablet)
                    mask-position left
                
            .btn-search
                display block
                padding 1rem 1.53rem
                margin 0 0 0 1rem
                border-color transparent
                background alpha($black, .08)
                
                @media screen and (max-width: $tablet)
                    square 3.53rem
                    color transparent
                    display flex
                    align-items center
                    justify-content center
                    padding 0
                    text-indent -9999px
                    
                    &:before
                        content ""
                        square 1.53rem
                        display block
                        background $black
                        mask($search)
                        
                 