@import '../libs/Icons'
@import '../libs/Colors'

.footer
	position relative
	box()
	margin 16rem 0 0

	.header-footer
		width 100%

		.logo
			mask($logo)
			height 3rem
			mask-position left center
			background $black
			
	.list-locais
		width 100%
		display grid
		grid-template-columns 1fr 1fr 1fr 1fr
		grid-column-gap 1.5rem
		margin 4rem 0 3rem
		padding 0 0 3rem
		border-bottom 1px solid alpha($black, .12)
		box()
		
		.local
			display flex
			flex-direction column
			color alpha($black, .8)
			
			.title
				font-size 1.28rem
				font('medium')
				text-transform uppercase
				width 90%
				display block
				line-height 1.4rem
				
			.phone
				font-size 1.1rem
				font('medium')
				margin .53rem 0 0
				
			.address
				margin 1rem 0 0
				font-size 1.1rem
				line-height 1.3rem
				color alpha($black, .53)
				
			&:first-child
				.title
					color $green
					
		@media screen and (max-width: $mobile)
			grid-template-columns 1fr 1fr
			grid-row-gap 1.5rem
					
	.menu-footer
		width 100%
		display flex
		justify-content space-between
		padding 0 0 3rem
		box()
		
		.list
			display flex
			
			.menu
				display flex
			
			.menu-item
				margin 0 1.8rem 0 0
				
				a
					font-size 1.03rem
					text-decoration none
					color $black
					
					&:hover
						color $green
						
				.sub-menu
					margin .53rem 0 0
					
					.menu-item
						margin 0 0 .32rem 0
						
						a
							color alpha($black, .53)
							
							&:hover
								color $black
								
						&:last-child
							margin 0
							
					
			&.links
				.item
					&:last-child
						margin 0
					a
						font('medium')
