@import '../libs/Icons'
@import '../libs/Colors'

.header
	position relative
	width 100%
	display flex
	align-items center
	box()
	justify-content space-between
	padding 3rem 0 3.8rem
	
	.header-mobile
		width 100%
		display none
		justify-content space-between
		margin 0 0 2rem 0
		align-items center
		
		.wrap-logo
			flex 1
			height 3rem
			padding 0 3rem 0 0
			mask($logo)
			background $black
			box()
		
		.logo
			height 3rem
			
	.button-mobile
		display none
		justify-content space-between
		flex-direction column
		// align-items center
		width 3rem
		height 2.15rem
		border-radius 999px
		box()
		
		.line
			width 100%
			height .5rem
			border-radius 999px
			background $black
			pointer-events none
			
			&:first-child
				width 80%
				
			&:last-child
				width 55%

	.wrap-search
		display flex
		align-items center
		justify-content space-between
		
	.search
		// flex 1
		display flex
		width 100%
		
		@media screen and (max-width: $mobile)
			margin 2rem 0 0
		
		.input-search
			width 100%
			border 0
			padding 0
			border-radius 999px
			background alpha($black, .03)
			padding 1.2rem 3rem
			margin 0 1rem 0 0
			box()
			outline none
			font('light')
			font-size 1.2rem
			
		.btn-search
			border-color $green
			background-color transparent
			color $green
			
			&:hover
				color #fff
				background-color $green
	.login
		.btn-login
			border-color $green
			color $green
			
			&:hover
				color #fff
				background-color $green
				
	@media screen and (max-width: $mobile)
		padding 2rem 0 4rem
		
		.header-mobile
			margin 0
		
		.btn-search
			display none
			
		.search
			width 100%

	@media screen and (max-width: 920px)
		flex-direction column
		
		.header-mobile
			display flex
			
		.button-mobile
			display flex
			
		.search
			width 100%