@import '../libs/Icons'
@import '../libs/Colors'
@import '../libs/Mixins'

@keyframes dot-flashing {
    0% {
        opacity: 1;
    }
    50%,
    100% {
        opacity: .32;
    }
}

.form-login
    position fixed
    top 0
    left 0
    display flex
    align-items center
    justify-content center
    square 100%
    z-index 999
    display none
    
    &.show
        display flex
    
    .loading
        position absolute
        top 0
        bottom 0
        right 1.53rem
        display none
        justify-content center
        align-items center
        margin auto
        height 2rem
        z-index 20
        transform translateX(-125%)
        
        &.show
            display flex
        
        .dot
            position relative
            width 1rem
            height 1rem
            border-radius 999px
            background-color $green
            animation dot-flashing 1s infinite linear alternate
            animation-delay .5s
            
            &:before,
            &:after
                content ""
                position absolute
                top 0
                width 100%
                height 100%
                border-radius 999px
                background-color $green
                animation dot-flashing 1s infinite alternate
                animation-delay 0s
                transform translateX(-125%)
                
            &:after
                transform translateX(125%)
                animation-delay 1s

    .overlay
        position absolute
        top 0
        left 0
        square 100%
        background alpha($black, .8)

    .container-form
        position relative
        display flex
        flex-direction column
        width 100%
        max-width 320px
        z-index 20
        border-radius 4px
        overflow hidden
        background #fff
        
        &[data-step="username"]
            .content-form
                &.step-username
                    display flex
        
        &[data-step="password"]
            .content-form
                &.step-password
                    display flex
        
        &[data-step="firstlogin"]
            .content-form
                &.step-firstlogin
                    display flex

        .button-close
            position absolute
            top 1rem
            right 1rem
            display flex
            align-items center
            justify-content center
            square 3rem
            border-radius 999px
            cursor pointer

            &:before
                content ""
                square 1.32rem
                mask($cancel)
                background #fff
                pointer-events none

            &:hover
                background alpha(#fff, .12)

        .header-form
            padding 5.53rem 2rem 1.53rem
            box()
            color #fff
            background $green

            .title
                font-size 2rem
                font('medium')

            .description
                font-size 1.12rem
                line-height 1.32rem
                color alpha(#fff, .8)
                display block
                margin .32rem 0 0

        .content-form
            width 100%
            display none
            flex-direction column
            background #fff
            padding 2rem
            box()
            
            .header-user
                display flex
                width 100%
                margin 0 0 2rem 0

                .icon
                    display flex
                    align-items center
                    justify-content center
                    square 3.8rem
                    flex none
                    border-radius 999px
                    background alpha($black, .05)

                    &:before
                        content ''
                        square 100%
                        display block
                        mask($user)
                        mask-size 65%
                        background alpha($black, .32)

                .infos
                    display flex
                    flex-direction column
                    justify-content center
                    margin 0 0 0 1rem

                    .title
                        font-size 1.53rem
                        font('medium')
                        margin .15rem 0 0

                    .description
                        font-size 1rem
                        line-height 1.32rem
                        color alpha($black, .62)
                        display block
                    
            
            &.step-firstlogin
                .wrap-strength
                    display flex
                    align-items center
                    margin 1rem 0 0
                    
                    .password-strength-text
                        font-size 1rem
                        display block
                        margin 0 .53rem 0 0
                        
                        &:empty
                            display none
                        
                    .password-strength-meter
                        position relative
                        width 35%
                        height .62rem
                        border-radius 999px
                        overflow hidden
                        background alpha($black, .12)
                        
                        &:before
                            content ""
                            position absolute
                            top 0
                            left 0
                            width 0%
                            height 100%
                        
                        /* Webkit based browsers */
                        &[data-value="1"]
                            &:before
                                width 25%
                                background $red
                                
                        &[data-value="2"]
                            &:before
                                width 50%
                                background $yellow
                                
                        &[data-value="3"]
                            &:before
                                width 75%
                                background $orange
                                
                        &[data-value="4"]
                            &:before
                                width 100%
                                background $green
                    
                .tips
                    width 100%
                    display flex
                    flex-direction column
                    margin 1.8rem 0 0
                    
                    .tip
                        display flex
                        align-items flex-start
                        font-size 1.1rem
                        margin 0 0 .32rem 0
                        line-height 1.53rem
                        color alpha($black, .8)
                        
                        &:before
                            content ""
                            display block
                            square 5px
                            border-radius 999px
                            background $black
                            flex none
                            margin .12rem .53rem 0 0

            &.isError
                .wrap-inputs
                    .wrap-input
                        &.focus
                            input
                                border-color $red

                            .placeholder
                                .text
                                    color $red

            .wrap-inputs
                display flex
                flex-direction column
                
                .erro
                    width 100%
                    color $red
                    font-size 1.1rem
                    line-height 1.4rem
                    margin .8rem 0 0
                    display none
                    
                    &.show
                        display flex
                    
                    &:before
                        content "!"
                        square 1.15rem
                        mask($exclamation)
                        background alpha($red, .8)
                        margin 0 .4rem 0 0
                    
                .wrap-input
                    position relative
                    display flex
                    flex-direction column
                    margin .8rem 0 0
                    
                    &:first-child
                        margin 0
                        
                    input
                        border 1px solid alpha($black, .15)
                        padding 1.32rem 1.53rem
                        box()
                        margin 0
                        border-radius 4px
                        font-size 1.32rem
                        outline none
                        
                    .placeholder
                        position absolute
                        top 0
                        padding 1rem 1rem 1rem .8rem
                        display flex
                        align-items center
                        width 100%
                        height 100%
                        pointer-events none
                        box()
                        transition all .1s

                        .text
                            background #fff
                            display inline-block
                            padding 0 .8rem 0 .8rem
                            box()
                            font-size 1.32rem
                            color alpha($black, .8)

                    &.focus
                        input
                            border-color $green

                        .placeholder
                            transform translateY(-50%)

                            .text
                                color $green
                                font-size 1rem

            .btn-signin
                margin 2.53rem 0 0
                pointer-events none
                background-color alpha($black, .1)
                border-color transparent
                color alpha($black, .32)
                
                &[data-validate="true"]
                    background $green
                    pointer-events auto
                    color #fff
            
            .btn-backcpf
                width 100%
                color $black
                border none
                margin .53rem 0 0
                font-size 1rem
                text-align center
                font('book')
                
                &:hover
                    color $green
                    
        .logo
            width 100%
            height 2rem
            margin 0 0 2rem 0
            mask($logo)
            background alpha($black, .7)
