@import '../libs/Icons'
@import '../libs/Colors'
@import '../libs/Mixins'

@keyframes float {
	0% {
		transform: translate(-50%);
	}
	50% {
		transform: translate(-65%);
	}
	100% {
		transform: translate(-50%);
	}
}

@keyframes float-2 {
	0% {
		transform: translate(50%);
	}
	50% {
		transform: translate(65%);
	}
	100% {
		transform: translate(50%);
	}
}

.aside-apps
	position relative
	top 0
	right 0
	display flex
	width auto
	height auto
	justify-content flex-start
	align-items flex-start
	padding 3rem 0 2.5rem 0
	z-index 20
	box()
	margin-left 0
	margin-right auto
	
	@media screen and (max-width: $tablet)
		display none
		
	.wrap-apps
		position sticky
		top 1.6rem
		left 0
		display flex
		flex-direction column
		
		&:hover 
			.wrap-options
				opacity 1
				visibility visible
				
			.open-apps
				background-color $black
				
				&:before
					background #fff

		.open-apps
			position relative
			display flex
			align-items center
			justify-content center
			square 3.73rem
			background #fff
			border-radius 50%
			box-shadow 0px 2px 8px #2D2E2F14
			cursor pointer
			z-index 20
			
			&.dot
				&:after
					content ""
					position absolute
					top .1rem
					right .1rem
					square 1rem
					border-radius 999px
					background $orange
			
			&.active,
			&:hover
				background-color $black
				
				&:before
					background #fff
					
			&:before
				content ""
				square 1.6rem
				mask($menu-app)
				display block
				mask-size contain
				background $black
				
		.wrap-options
			position absolute
			padding 5rem 0 0
			left 3.7rem
			transform translateX(-100%)
			visibility hidden
			opacity 0
			box()
			
			&:hover
				opacity 1
				visibility visible

			.wrap-login
				display flex
				width 100%
				flex-direction column
				padding 1.53rem 2rem
				box()
				border-bottom 1px solid alpha($black, .12)
				
				.header-login
					display flex
					width 100%

					.icon
						display flex
						align-items center
						justify-content center
						square 3.8rem
						flex none
						border-radius 999px
						background alpha($black, .05)

						&:before
							content ''
							square 100%
							display block
							mask($user)
							mask-size 65%
							background alpha($black, .32)

					.infos
						display flex
						flex-direction column
						margin 0 0 0 1rem

						.title
							font-size 1.53rem
							font('book')

						.description
							font-size 1rem
							line-height 1.32rem
							color alpha($black, .62)
							display block
							margin .32rem 0 0
				
				.btn-login
					margin 1.53rem 0 0
					border-color $green
					background-color $green
					color #fff

					&:hover
						border-color darken($green, 25%)
						background darken($green, 25%)
						
			.options
				background #fff
				box-shadow 3px 12px 12px #2D2E2F1F
				border-radius 12px
			
			.menu
				position relative
				display grid
				grid-template-columns repeat(3, 6rem)
				grid-column-gap 1.8rem
				grid-row-gap 1.5rem
				padding 1.53rem 2rem
				box()
				
				.menu-item
					position relative
					cursor pointer
					
					&:hover
						a
							color $orange
						
							&:before
								background $orange
								border-color $orange
								
							&:after
								background #fff
							
					a
						display flex
						align-items center
						justify-content center
						flex-direction column
						border-radius 50%
						width 100%
						text-decoration none
						text-align center
						font-size 1.12rem
						color $black
						font('book')
								
						&:before
							content ""
							square 4.15rem
							display flex
							align-items center
							justify-content center
							border-radius 50%
							background #fff
							border 1px solid alpha($black, .12)
							margin 0 0 .8rem 0
							
						&:after
							content ""
							position absolute
							top 0
							bottom 1.7rem
							left 0
							right 0
							margin auto
							background $black
							square 2.15rem
							mask($results)
						
					&.imagem
						a
							&:after
								mask($results)
								
					&.laboratorio
						a
							&:after
								mask($flask)
							
					&.siglario
						a
							&:after
								mask($book)
							
					&.tabela
						a
							&:after
								bottom 2.7rem
								mask($grid)

.wrap-cadastro
	position relative
	display flex
	align-items stretch
	background #F8E4C2
	border-radius 0 0 12px 12px
	overflow hidden
	// pointer-events none
	
	&:before,
	&:after
		content ""
		position absolute
		square 8rem
		border-radius 999px
		background #FFB27B
		opacity .8
		z-index 2
	
	&:before
		top 0
		left 0
		transform translate(-50%, -50%)
		animation float 6s ease-in-out infinite
		
	&:after
		bottom 0
		right 0
		transform translate(50%, 50%)
		animation float-2 6s ease-in-out infinite
		
	.ilustration
		position relative
		width 8rem
		replace($ilustra-cadastro, right, center)
		bgsize 135%
		margin 0 1rem 0 0
		z-index 5
	
	.infos-form
		position relative
		flex 1
		display flex
		flex-direction column
		padding 1.32rem 1rem 1.32rem 0
		box()
		z-index 5
		
		.novidade
			display flex
			align-items center
			margin 0 0 1rem 0
			font('book')
			color darken($orange, 20%)
			
			&:before
				content ""
				position relative
				top -.2rem
				width 1rem
				height 1rem
				background $orange
				display block
				mask($star, center, center)
				mask-size contain
				margin 0 .32rem 0 0
		
		.title
			font-size 1.32rem
			font('medium')
		
		.description
			font-size 1.1rem
			margin .15rem 0 0
			display block
			color alpha($black, .62)
			
		.btn-cadastro
			padding .8rem 1.8rem
			border 0
			width fit-content
			background $black
			color #fff
			font-size .8rem
			display inline-block
			margin 1rem 0 0
			
			&.disable
				background alpha($black, .12)
				color alpha($black, .53)
				// pointer-events none
.main-menu
	position sticky
	top 0
	min-width calc((100% - 745px) / 2)
	left 0
	display flex
	justify-content flex-end
	align-items flex-start
	height 100vh
	padding 3rem 8rem 2.5rem 3rem
	box()
	z-index 20
	
	@media screen and (min-width: 1921px)
		min-width calc((100% - 920px) / 2)

	.wrap-menu
		display flex
		justify-content flex-end
		flex-direction column
		min-height 100%
	
	.group-logo
		display flex
		align-items center
		
		.btn-close
			display none
			padding 1rem 1.53rem
		
		.wrap-logo
			width 100%
			
	.wrap-logo
		mask($logo)
		height 3rem
		mask-position left center
		background $black
	
	.notification
		.btn-notification
			float right
			
	.sub-menu
		display none
	
	.group-top
		margin 4rem 0 0
		flex 1
		
		.bem-vindo
			.date
				font-size 1.1rem
				color alpha($black, .53)
				text-transform capitalize

			.title
				font-size 1.7rem
				font('medium')
				margin .15rem 0 0
				
		.list			
			margin 2rem 0 0
			
			.menu	
				.menu-item
					margin 0 0 1.32rem 0
					
					a
						font('light')
						color alpha($black, .53)
						text-decoration none
						font-size 1.98rem
						
						&:hover
							color alpha($black, .8)
					
					&.current_page_item,
					&.current_page_parent,
					&.current-page-ancestor
						a
							color $green
	
	.group-footer
		.langs
			.list
				display flex
				flex-direction column
				
				.lang
					text-transform uppercase
					font-size 1.6rem
					color alpha($black, .32)
					
					&.active
						color $black
						font('medium')
						
		.social
			margin 2rem 0 0
			
			.list
				display flex
				align-items center
				
				.item
					square 2rem
					background alpha($black, .53)
					margin 0 .8rem 0 0
					
					a
						display block
						square 100%
						
						&:hover
							background $orange
					
					&.facebook
						mask($facebook)
					&.instagram
						mask($instagram)
					&.youtube
						mask($youtube)
						width 2.57rem
						
	.tools-menu-mobile
		display none
		width 100%
		justify-content center
		flex-direction column
		margin 0 0 2rem 0
		padding 2rem 0
		border-top 1px solid alpha($black, .12)
		border-bottom 1px solid alpha($black, .12)
		
		.wrap-cadastro
			border-radius 12px
		
		.menu
			position relative
			display flex
			flex-direction column
			box()
			// padding 1rem 0
			margin 0 0 1rem 0
			
			.menu-item
				border-radius 50%
				cursor pointer
				margin 0 0 1rem 0
				
				&:last-child
					margin 0
					
				a
					position relative
					display flex
					align-items center
					text-decoration none
					text-align center
					width 100%
					font-size 1.32rem
					color $black
					font('book')
					
					&:before
						content ""
						square 3.15rem
						display flex
						align-items center
						justify-content center
						border-radius 50%
						background #fff
						border 1px solid alpha($black, .12)
						margin 0 1rem 0 0
						
					&:after
						content ""
						position absolute
						top 0
						bottom 0
						left .7rem
						margin auto
						background $black
						square 1.8rem
						mask($results)
						
				&.imagem
					a
						&:after
							mask($results)
							
				&.laboratorio
					a
						&:after
							mask($flask)
						
				&.siglario
					a
						&:after
							mask($book)
						
				&.tabela
					a
						&:after
							mask($grid)
		
		.wrap-login
			width 100%
			margin 0 0 2rem 0
			display flex
			align-items flex-start
			
			[class^="btn-"]
				padding 1rem 1.53rem
				background $green
				border 0
				color #fff

			.btn-login
				display block
				
			.btn-logout
				display none

			.header-login
				display flex
				width 100%
				flex 1
				margin 0 1rem 0 0
				
				.icon
					display flex
					align-items center
					justify-content center
					square 3.15rem
					flex none
					border-radius 999px
					background alpha($black, .05)

					&:before
						content ''
						square 100%
						display block
						mask($user)
						mask-size 65%
						background alpha($black, .32)

				.infos
					display flex
					flex-direction column
					margin 0 0 0 1rem

					.title
						font-size 1.53rem
						font('book')

					.description
						font-size 1rem
						line-height 1.32rem
						color alpha($black, .62)
						display block
						margin .32rem 0 0

	@media screen and (max-width: $tablet)
		position fixed
		width 100%
		background #fff
		padding 3rem
		box()
		transform translateX(-100%)
		transition all .3s
		
		.tools-menu-mobile
			display flex
		
		.wrap-menu
			width 100%
			min-height 100%
			
		.group-logo
			.btn-close
				display block
				
		&.show-mobile
			transform translateX(0)
			overflow-y scroll
			
			.wrap-logo
				height 3.32rem
				mask($logo-mini)
				mask-position left