@import '../libs/Icons'
@import '../libs/Colors'

.section-page
	.header-page
		display flex
		flex-direction column
		width 100%
		
		.content-header
			h2.title
				font-size 4.5rem
				font('black')
				text-transform uppercase
				
			p
				font-size 1.2rem
				color alpha($black, .53)
				display block
				width 55%
				line-height 1.4rem
				
			@media screen and (max-width: $mobile)
				h2.title
					font-size 3.32rem
					margin 0 0 .32rem
					display block
					
				p
					width 100%
		
	.tab-list,
	.menu-principal-container
		margin 8rem 0 0
		border-bottom 1px solid alpha($black, .12)
		
		.tab
			font('regular')
			
			&.active
				font('medium')
				
		@media screen and (max-width: $mobile)
			margin 4.5rem 0 0
				
	.tab-content
		margin 2rem 0 0