@import '../libs/Icons'
@import '../libs/Colors'

.post-inner
	.header-inner
		width 100%
		display flex
		align-items center
		
		.btn-back
			position relative
			square 3.2rem
			padding 0
			border-radius 0
			border-color alpha($black, .15)
			display flex
			align-items center
			justify-content center
			cursor pointer

			&:before
				content ""
				position relative
				square 1.1rem
				display block
				background $black
				mask($arrow-left-lite)
			
		.breadcrumbs
			margin 0 0 0 1rem
			flex 1
			height 100%
			min-height 3.2rem
			display flex
			align-items center
			font-size 1.2rem
			border-bottom 1px solid alpha($black, .15)
			box()
			
			span
				display flex
				align-items center
				
				a
					position relative
					font('medium')
					color $black
					text-decoration none
					display flex
					align-items center
					
					&:after
						content ""
						position relative
						top -.1em
						square .6rem
						background $black
						mask($arrow-right-lite)
						margin 0 0 0 .53rem
						
				.breadcrumb_last
					margin 0 0 0 .53rem
					color alpha($black, .32)
					
					@media screen and (max-width: $mobile)
						width 25rem
						text-overflow ellipsis
						white-space nowrap
						overflow hidden
						display inline-block
	
	.post
		.thumb
			max-width 100%
			border-radius 6px
			margin 1.53rem 0 0
			
		.content
			margin 3rem 0 0
			
			.header-content
				width 100%
				display flex
				flex-direction column
				align-items center
				justify-content center
				
				&:after
					content ""
					width 4rem
					height 1px
					background alpha($black, .53)
					margin 1rem 0 0
				
				h2.title
					font-size 4rem
					font('bold')
					text-align center
					
				.publication
					margin 1rem 0 0 0
					font-size 1.1rem
					
					.description-date
						color alpha($black, .8)
						
					.date
						color $black
						font('medium')
						display inline-block
						margin 0 0 0 .32rem
						
				@media screen and (max-width: $mobile)
					h2.title
						font-size 2.8rem
						
			.text,
			.content-event
				margin 3.5rem 0 5rem
				
				p,
				ul,
				ol
					font-size 1.53rem
					line-height 2.5rem
					margin 0 0 2.53rem 0
					
					&:empty
						display none
						
					&:last-child
						margin 0
					
				a
					color $blue
					font('book')
					
				h1,
				h2,
				h3,
				h4,
				h5,
				h6
					font('medium')
					margin 0 0 1.32rem
					color $black
					
					&:last-child
						margin 0
					
				h1
					font-size 4rem
					line-height 4.8rem
				h2
					font-size 3.8rem
					line-height 4.3rem
				h3
					font-size 3rem
					line-height 3.5rem
				h4
					font-size 2.5rem
					line-height 3rem
				h5
					font-size 2rem
					line-height 2.5rem
				h6
					font-size 1.6rem
					line-height 2.1rem
					
				ul
					width 100%
					list-style disc
					font('book')
				
				hr
					display none
					
				@media screen and (max-width: $mobile)
					h1
						font-size 3.8rem
						line-height 4.3rem
					h2
						font-size 3rem
						line-height 3.5rem
					h3
						font-size 2.5rem
						line-height 3rem
					h4
						font-size 2rem
						line-height 2.5rem
					h5
						font-size 1.6rem
						line-height 2.1rem
					h6
						font-size 1.2rem
						line-height 1.8rem

			.shared
				width 100%
				display flex
				flex-direction column
				align-items center
				justify-content center
				border-top 1px solid alpha($black, .12)
				padding 5rem 0 0
				box()

				.newsletter
					width 100%
					display flex
					flex-direction column
					align-items center
					
					.icon
						square 5rem
						border-radius 999px
						background $green
						display flex
						align-items center
						justify-content center
						
						&:before
							content ""
							position relative
							square 2.5rem
							background #fff
							mask($mailbox)
						
					.title
						font-size 1.8rem
						font('medium')
						color $green
						display block
						margin 1.5rem 0 0
						
					.description
						display block
						width 100%
						margin .53rem 0 0
						text-align center
						color alpha($black, .53)
						font-size 1.2rem
						
					.form
						display flex
						flex-direction column
						margin 2rem 0 0
						width 100%
						align-items center
						
						input
							width 40%
							border 0
							padding 0
							border-radius 6px
							border 2px solid alpha($black, .12)
							padding 1.2rem 2rem
							outline none
							font('light')
							font-size 1.2rem
							box()
							
						.btn-submit
							width 40%
							margin 3rem 0 0
							color $green
							border-color $green
							
							&:hover
								color #fff
								background-color $green
								
					@media screen and (max-width: $mobile)
						.form
							input
								width 100%
							
				.redes
					position relative
					width 100%
					display flex
					align-items center
					justify-content center
					margin 3rem 0 0
					padding 3rem 0 0
					flex-direction column
					box()

					&:before
						content ""
						position absolute
						top 0
						left 0
						right 0
						margin auto
						width 6rem
						height auto
						display block
						border 1px dashed alpha($black, .32)
					
					.list
						width 100%
						display flex
						align-items center
						justify-content center
						
						.item
							square 2rem
							display block
							margin 0 1.32rem 0 0
							cursor pointer

							&:hover
								&:before
									background-color $green
								
							&:last-child
								margin 0
								
							&:before
								content ""
								display block
								square 100%
								mask-size contain
								background $black
								
							&.facebook
								&:before
									mask($facebook)
							&.linkedin
								&:before
									mask($linkedin)
							&.twitter
								&:before
									mask($twitter)
							&.email
								&:before
									mask($email)
									
	.relacionadas
		position relative
		width 100%
		margin 3rem 0 0
		padding 5rem 0
		box()

		&:before
			content ""
			position absolute
			left 50%
			top 0
			width 100vw
			height 100%
			background #fff
			transform translateX(-50%)
			z-index -1
			
	&.event-inner
		.content-event
			width 100%
			
			.infos
				width 100%
				display flex
				margin 0 0 4rem 0
				
				@media screen and (max-width: $mobile)
					flex-direction column

				.card-dates
					display flex
					background-color #fff
					border-radius 6px
					border 1px solid alpha($black, .12)
					flex-direction column
					overflow hidden
					width 30%
					margin 0 2rem 0 0
					
					@media screen and (max-width: $mobile)
						width 100%
						margin 0 0 2rem 0
					
					.header-card
						width 100%
						background-color $green
						color #fff
						text-transform uppercase
						display flex
						align-items center
						justify-content center
						padding 1.32rem 0
						box()
						font('bold')
						
						span
							font-size 1.53rem
						
					.title-day
						padding 1.6rem 0 1.32rem
						font('black')
						font-size 4.5rem
						display flex
						align-items center
						justify-content center
						margin 0
					
					.horarios
						display flex
						padding 1.32rem
						box()
						border-top 1px solid alpha($black, .12)
						flex-direction column
						
						.horario
							display flex
							align-items flex-start
							margin 0 0 .8rem 0
							
							&:last-child
								margin 0
							
						.icon
							square 1.9rem
							mask($clock)
							background $green
							margin 0 .8rem 0 0
							display block
							
						.content-horario
							display flex
							flex-direction column
							
							.description
								font-size 1.1rem
								color alpha($black, .53)
								display block
								line-height 1rem
							
							.title
								font('bold')
								font-size 1.6rem
								display block
								margin .12rem 0 0 0
								
				.local
					width 75%
					border-radius 6px
					overflow hidden
					border 1px solid alpha($black, .12)
					display flex
					
					@media screen and (max-width: $mobile)
						width 100%
						
					.group
						width 35%
						background $green
						display flex
						align-items center
						flex-direction column
						
						.header-local
							width 100%
							font-size 1.53rem
							padding 1.32rem 0
							text-align center
							font('bold')
							color #fff
							text-transform uppercase
							box()
						
						.wrap-local
							width 100%
							display flex
							flex 1
							flex-direction column
							align-items center
							
							.icon
								square 4rem
								mask($pin)
								background-color #fff
								margin 1.65rem 0
								box()
								
							.content-local
								width 100%
								flex 1
								display flex
								align-items center
								justify-content center
								border-top 1px solid alpha(#fff, .32)
								padding 1rem 1.32rem
								box()
								
								span
									color alpha(#fff, .8)
									font-size 1.32rem
									line-height 1.6rem

					.map
						width 65%
						replace($bg-maps)
						bgsize cover
						background-position center center
						
					@media screen and (max-width: 480px)
						flex-direction column
						
						.group,
						.map
							width 100%
							
						.map
							min-height 18rem
					
			.row
				width 100%
				margin 0 0 4rem 0
				
				.title-row
					font-size 1.7rem
					font('medium')
					
				.text-row
					width 100%
					margin 1rem 0 0
					
					p
						font-size 1.62rem
						line-height 2.5rem
						color alpha($black, .8)
						
				.list
					margin 1rem 0 0
					
					&:last-child
						margin 1rem 0 0
						
			.investimento
				width 100%
				display flex
				flex-direction column
				align-items center
				justify-content center
				background alpha($black, .05)
				border-radius 6px
				padding 3rem 2rem
				box()
				
				.valor
					margin 3rem 0
					font-size 5.5rem
					font('black')
					color alpha($black, .8)
					display block
					
				.title
					font-size 2rem
					color $orange
					font('medium')
					
				.description
					font-size 1.32rem
					color alpha($black, .53)
			
@import '../pages/news'