@import '../libs/Icons'
@import '../libs/Colors'

.single-semjaleco,
.single-prorec
	@media screen and (min-width: 920px)
		.main-menu
			.group-top 
				.bem-vindo
					.date
						color alpha(#fff, .53)
					.title
						color #fff
						
				.list 
					.menu 
						.menu-item
							a
								color alpha(#fff, .8)
								
			.wrap-logo
				background-color #fff
	
	@media screen and (max-width: 920px)
		.header
			.header-mobile
				.wrap-logo
					background-color #fff

	.header
		.button-mobile
			.line
				background #fff

		.search
			.input-search
				background-color alpha(#fff, .32)
				color #fff

	.thumb-large
		position absolute
		top 0
		left 50%
		width 100%
		height 50vh
		min-height 40rem
		bgsize cover
		background-position center 20%
		transform translateX(-50%)
		background-repeat no-repeat
		
		&:before
			content ""
			position absolute
			top 0
			left 0
			square 100%
			background $black
			opacity .53
		
.semjaleco-inner,
.prorec-inner
	.header-inner
		.btn-back
			border-color alpha(#fff, .32)
			
			&:before
				background-color #fff
			
		.tab-list
			display flex
			align-items center
			margin 0 0 0 1rem
			border-bottom 1px solid alpha(#fff, .15)
			box()
			min-height 3.2rem
			
			.tab
				color alpha(#fff, .8)
				padding-bottom 0
				
				a
					color alpha(#fff, .8)
				
				&.active
					a
						color #fff
			
	.post
		margin 4rem 0 0
		
		.content-post
			padding 5rem 0 0
			box()
			
		.header-post
			width 100%
			min-height calc(40rem - 17.6rem)
			height calc(50vh - 17.6rem)
			display flex
			flex-direction column
			justify-content space-between
			// background red
			padding 0 0 2rem 0
			box()
			
			.top
				width 100%
				
				.type
					font-size 1.2rem
					text-transform uppercase
					color $orange

				h2.title
					font-size 4.5rem
					font('black')
					text-transform uppercase
					display block
					margin .53rem 0 0
					color #fff
					
				.description
					display block
					font-size 1.2rem
					color alpha(#fff, .8)
					
			.bottom
				display flex
				justify-content space-between
				align-items flex-end
				
				.edition
					display flex
					
					.group
						display flex
						flex-direction column
						text-transform uppercase
						font-size 1.2rem
						align-items flex-end
						
						.month
							color #fff
							font-size 1.2rem
							font('book')
							display block
							margin 0 0 .15rem 0

						.description
							color alpha(#fff, .53)
							font-size 1.1rem
							
					.number
						font-size 2.8rem
						font('black')
						color #fff
						margin 0 0 0 .53rem
						
				.publication
					margin 1rem 0 0 0
					font-size 1.1rem
					
					.description-date
						color alpha(#fff, .8)
						
					.date
						color #fff
						font('medium')
						display inline-block
						margin 0 0 0 .32rem
			
			@media screen and (max-width: 920px)
				min-height calc(40rem - 22.6rem)
				height calc(50vh - 22.6rem)
			
			@media screen and (max-width: 480px)
				.top
					h2.title
						font-size 2.8rem
				.bottom
					.edition
						.number
							font-size 2rem
		.title-bg
			text-transform uppercase
			font('medium')
			font-size 2.53rem
			
			.highlight
				display inline
				background $orange
				color #fff
				padding .53rem 0
				box()
				margin 0 0 1rem 0
				line-height 4rem
					
		.content-post
			width 100%
			float left
			
			.row
				width 100%
				margin 0 0 3.5rem 0
				float left
				
				p,
				ul,
				ol
					font-size 1.32rem
					line-height 1.8rem
					margin 0 0 2.53rem 0
					color alpha($black, .62)
						
				.title-row
					font-size 1.53rem
					font('medium')
				
				.column
					width 50%
					float left
					padding 0 1.15rem 0 0
					box()
					
					&:last-child
						padding 0 0 0 1.15rem
						
					&.column-large
						width 100%
						margin 0 0 2rem 0
						
						&:last-child,
						&:first-child
							padding 0
						
						.title-row
							width 30%
							
						.text
							p
								margin 0
								
					@media screen and (max-width: 920px)
						width 100%
						padding 0
						
						&:last-child
							padding 0
						
						
				.photo
					// min-height 25rem
					border-radius 6px
					width 100%
					overflow hidden
					
					img
						max-width 100%
						border-radius 6px
					
				.content-row
					display flex
					
					.title-row
						flex none
						
					p
						flex 1
						margin 0 0 0 2rem
				
				&.row-hobby
					width 100%
					display flex
					align-items center
					
					.column-hobby
						display flex
						flex 1
						
						.content-row
							padding 7rem 0
							flex 1
							display flex
							flex-direction column
							justify-content space-between
							box()
							
							.title-row
								margin 0 0 1.32rem 0
							
							.description
								font-size 1.32rem
								color alpha($black, .62)
								margin 1.32rem 0 0
								
					@media screen and (max-width: 920px)
						flex-direction column
						
						.column-hobby
							.content-row
								padding 3rem 0 0
				
				&.row-galeria
					margin 0
					display grid
					grid-template-columns repeat(3, 1fr)
					grid-row-gap 1.5rem
					grid-column-gap 1.5rem
					
					@media screen and (max-width: 920px)
						grid-template-columns repeat(2, 1fr)
					
					@media screen and (max-width: $mobile)
						grid-template-columns repeat(1, 1fr)

				.sonho
					margin 3rem 0 0
									
				.motivacao
					margin 0 0 3rem 0
					
				.list-extra
					width 100%
					display flex
					flex-direction column
					// border-top 1px solid alpha($black, .12)
					margin 4rem 0 0
					padding 2rem 0 0
					box()
					
					.item
						display flex
						align-items center
						// margin 0 0 2rem 0
						padding 2.53rem 0
						box()
						border-top 1px solid alpha($black, .12)
						
						&:last-child
							padding-bottom 0
							
						.column-item
							width 43%
							display flex
							align-items flex-start
							
							.title-item
								font-size 1.53rem
								font('medium')
								color $black
								width 25%

							.text-item
								flex .9
								margin 0
								
							.thumb
								square 10rem
								border-radius 6px
								background $green
								flex none
								margin 0
								bgsize cover
								
							.infos
								margin 0 0 0 2rem
								
							&:last-child
								align-items center
								width 57%
								
					@media screen and (max-width: $mobile)
						.item
							width 100%
							flex-direction column
							align-items flex-end
							
							.column-item
								width 100%
								
								&:last-child
									width 75%
									float right
									margin 1rem 0 0

			.header-content-post
				width 100%
				float left
				
				.group-name
					width 100%
					text-transform uppercase
					margin 0 0 2rem 0
					
					.description
						font-size 1.3rem
						color alpha($black, .53)
					
					.title
						display block
						font-size 3.5rem
						font('medium')
						margin .32rem 0 0
				
			.row-intro
				.list-infos
					width 100%
					
					.info
						width 100%
						margin 0 0 .15rem 0
						
						.text
							strong
								color $orange
								font('medium')
							
		.footer-post
			width 100%
			float left
			display flex
			align-items center
			justify-content center
			flex-direction column
			margin 10rem 0 0
			
			.title-bg
				width 40%
				text-align center
				
				@media screen and (max-width: $mobile)
					width 75%
				
			.follow
				width 100%
				display flex
				align-items center
				justify-content center
				flex-direction column
				margin 4rem 0 0
				
				.username
					font-size 1.8rem
					font('medium')
					color $black
					
				.list-redes
					width 100%
					display flex
					align-items center
					justify-content center
					margin .53rem 0
					
					.rede
						display flex
						align-items center
						justify-content center
						margin 0 1rem 0 0
						font-size 1.1rem
						color $orange
						
						a
							text-decoration none
							color $orange

						&:last-child
							margin 0
							
						&:before
							content ""
							display block
							square 1.4rem
							background $orange
							margin 0 .53rem 0 0
							
						&.instagram
							&:before
								mask($instagram)
								mask-size contain
						&.facebook
							&:before
								mask($facebook)
								mask-size contain
						&.linkedin
							&:before
								mask($linkedin)
								mask-size contain
							
.medicoemfoco-inner
	.header-inner
		.btn-back
			border-color alpha(#fff, .32)
			
			&:before
				background-color #fff
			
		.tab-list
			display flex
			align-items center
			margin 0 0 0 1rem
			border-bottom 1px solid alpha(#fff, .15)
			box()
			min-height 3.2rem
			
			.tab
				color alpha(#fff, .8)
				
				a
					color alpha(#fff, .8)
				
				&.active
					a
						color #fff
			
	.post
		.header-post
			.top
				.type
					color $green
					
		.title-bg
			.highlight
				background $green
		
		.content-post
			.row-intro
				.list-infos
					margin 0
					.info
						.text
							strong
								color $green
								
		.footer-post
			.follow
				.list-redes
					.rede
						color $green
						
						a
							color $green

						&:before
							background $green

@import '../pages/news'