@import '../libs/Icons'
@import '../libs/Colors'

.menu-principal-container .menu,
.tab-list
	width 100%
	margin 1.4rem 0 0
	
	@media screen and (max-width: $mobile)
		display inline-block
		white-space nowrap
		overflow scroll

	.tab,
	.menu-item,
	.page_item
		font-size 1.4rem
		margin 0 1.53rem 0 0
		padding 0 0 .8rem 0
		color alpha($black, .32)
		cursor pointer
		display inline-block
		box()
			
		&:last-child
			margin 0
		
		a
			color alpha($black, .32)
			text-decoration none
			transition all .3s

		&.active,
		&.current_page_item,
		&.current-menu-item
			color $black
			font('medium')
			
			a
				color $black
			
		&:hover
			color alpha($black, .8)
			
			a
				color alpha($black, .8)
			
		
.menu-principal-container
	.menu
		display block
		margin 0