@import './libs/Reset'
@import './libs/datepicker.min.css'
@import './libs/Mixins'
@import './libs/Colors'
@import './libs/Icons'

@import './common/Header'
@import './common/Menu'
@import './common/Footer'

html,
body
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	square 100%
	font('regular')
	color $black
	font-size 12px
	background-color $white
	overflow-x hidden
	
	@media screen and (min-width: 1921px)
		font-size 14px
		
	&.no-scroll
		overflow hidden
	
p
	line-height normal
	
section
	width 100%
	float left

[class^="btn-"]
	border-radius 999px
	padding 1rem 3rem
	font-size 1.2rem
	font('medium')
	border 2px solid $black
	box()
	text-transform uppercase
	cursor pointer
	
#app
	width 100%
	display flex
	flex-direction column
	margin 0 auto
	
	.main
		position relative
		display flex
		justify-content flex-end
		min-height 100vh
		padding 0 2rem
		box()
	
.app-group
	position relative
	width calc(100% - (100% - 745px) / 2)
	display flex
	flex-direction row-reverse
		
	@media screen and (max-width: 920px)
		flex-direction column
		
	.inner
		display flex
		flex-direction column
		width 100%
		max-width calc(745px)
		padding 0 3rem 0 0
		box()
		margin-left 0
		flex 1
		
		@media screen and (min-width: 1921px)
			max-width calc(920px)

	.main-container
		position relative
		display flex
		flex-direction column
		margin 0 auto
		z-index 10
		max-width 100%
		flex 1
		
		.container-page
			flex 1
			
	@media screen and (min-width: 1921px)
		width calc(100% - (100% - 920px) / 2)
		
	@media screen and (max-width: 1366px)
		width calc(100% - 310px)
		
	@media screen and (max-width: 920px)
		width 100%
		align-items center
		
		.inner
			padding 0

@import './common/PageInner'
@import './common/PostInner'
@import './common/SemjalecoInner'
@import './common/Tab'
@import './common/Auth'
@import './common/Login'

@import './pages/Page'
@import './pages/Iep'
@import './pages/Artigos'
@import './pages/Home'
@import './pages/Normas'
@import './pages/Praticas'
@import './pages/News'
@import './pages/Eventos'
@import './pages/PageSearch'
@import './pages/Agendamentos'
@import './components/form-cadastro'