@import '../libs/Icons'
@import '../libs/Colors'

.auth-agendamentos
	width 100%
	
	.tab-content
		display flex
		
		@media screen and (max-width: $mobile)
			flex-direction column-reverse
		
		.list-agendamentos
			width 55%
			display none
			
			&.show
				display block
			
			@media screen and (max-width: $mobile)
				width 100%
				margin 2rem 0 0

			.item
				width 100%
				display flex
				flex-direction column
				background #fff
				padding 1.53rem
				border-radius 8px
				margin 0 0 1.53rem 0
				box()
				
				&:last-child
					margin 0
				
				.date-time,
				.especialidade
					font-size 1.53rem
					color alpha($black, .8)
					
				.header-itemAgenamento
					display flex
					justify-content space-between
					
				.content-item
					display flex
					flex-direction column
					margin 1.8rem 0 0
					
					.title
						font-size 1.8rem
						font('bold')
						
					.footer-content
						display flex
						align-items center
						justify-content space-between
						margin .8rem 0 0
						
						.data-user
							display flex
							flex-direction column
							
							span
								font-size 1.12rem
								color alpha($black, .8)
								margin 0 0 .5rem 0
								
								&:last-child
									margin 0
							
						.link
							padding .62rem 1.8rem
							font('medium')
							color $blue
							border 2px solid $blue
							box()
							border-radius 999px
							cursor pointer
							text-decoration none
							text-align center
							
							&:hover
								background $blue
								color #fff
				
				@media screen and (max-width: $mobile)
					padding 1.15rem
					
					.date-time,
					.especialidade
						font-size 1.53rem
						
					.content-item
						.title
							font-size 1.6rem
		
		.notfound-agendamentos
			width 55%
			display none
			justify-content flex-start
			flex-direction column
			padding 3rem 0 0
			
			.icon
				display block
				square 12rem
				replace($calendar)
				bgsize contain
				
			.title-notfound
				margin 2rem 0 0
				font-size 2.15rem
				font('medium')
				color alpha($black, .8)
				
			.description
				font-size 1.32rem
				color alpha($black, .8)
				display block
				margin .32rem 0 0
				line-height 1.8rem
			
			&.show
				display flex
					
			@media screen and (max-width: $mobile)
				width 100%
				margin 2rem 0 0
				align-items center
				
				.icon
					square 12rem
					
				.title-notfound
					font-size 1.53rem
				
				.description
					font-size 1rem
					line-height 1.32rem
					
				.title-notfound,
				.description
					text-align center
									
		.aside-agendamentos
			position sticky
			top 8rem
			width 45%
			display flex
			flex-direction column
			padding 1rem 0 0 2.8rem
			box()
			height calc(100vh - 18.6rem)
			
			@media screen and (max-width: $tablet)
				top 14rem
				
			@media screen and (max-width: $mobile)
				position relative
				top 0
				width 100%
				padding 0
				height auto
			
			.date-time
				width 100%
				display flex
				flex-direction column
				
				.today
					font-size 1.32rem
					color alpha($black, .8)
					
				.date
					font-size 1.8rem
					font('bold')
					
				@media screen and (max-width: $mobile)
					.date
						font-size 1.53rem
					
			.wrap-counter
				width 100%
				background $green
				display flex
				align-items center
				padding .53rem .7rem
				border-radius 4px
				box()
				margin 1.53rem 0 0
				
				.icon
					width 3rem
					height 2rem
					flex none
					background #fff
					mask($phone)
					margin 0 1rem 0 0
					
				.content-counter
					display flex
					flex 1
					flex-direction column
					margin 0 1rem 0 0
					
					.title-counter
						font-size 1.15rem
						font('medium')
						color #fff
					
					.description
						margin .32rem 0 0
						color alpha(#fff, .8)
						
				.number-counter
					display flex
					align-items center
					// height 4rem
					justify-content center
					flex-direction column
					background alpha($black, .15)
					padding .8rem .53rem
					border-radius 4px
					box()
					
					.number
						font-size 2.53rem
						font('bold')
						color #fff
						
					.description
						font-size .9rem
						color #fff
				
				@media screen and (max-width: $mobile)
					.content-counter 
						.title-counter
							font-size 1rems
							
					.number-counter
						.number
							font-size 2rem

			.tips
				flex 1
				display flex
				align-items flex-end
				padding 0 0 2rem 0
				box()
				
				@media screen and (max-width: $mobile)
					display none
					
				.list
					flex-direction column
					
					.item
						display flex
						align-items center
						margin 0 0 1rem 0
						
						&:last-child
							margin 0
						
					.text-tip
						font-size 1.1rem
						line-height 1.32rem
						margin 0 0 0 1.32rem
						font('book')
						color alpha($black, .8)
					
					.icon
						square 4rem
						display flex
						align-items center
						justify-content center
						border-radius 999px
						background #fff
						flex none
						
						&:before
							content ""
							square 2rem
							display block
							background blue
						
						&.lamp
							&:before
								square 2.5rem
								background $yellow
								mask($lamp)
							
						&.clock
							&:before
								background $blue
								mask($clock)