@import '../libs/Icons'
@import '../libs/Colors'

.section-page
	&.artigos
		position relative
		
		.filtro
			display flex
			justify-content space-between
			
			.list
				width 100%
				display flex
				align-items center
				
				.item
					position relative
					width 100%
					display flex
					align-items center
					height 4.32rem
					background alpha($black, .05)
					cursor pointer
					box()
					border-radius 3px
					margin 0 .32rem 0 0
					
					&:last-child
						margin-right 0
						margin-left auto
						
					&.item-icon
						padding 0 1.8rem
						pointer-events none
						
						&:before
							content ""
							square 1.4rem
							mask($filter)
							background $black
							display block
					
					&.item-search
						padding 0 2rem
						
						input
							position relative
							height 100%
							border 0
							background-color transparent
							font-size 1.3rem
							outline none
							box()
							
						&:after
							content ""
							square 1.4rem
							mask($search)
							background $black

				.custom-select
					position relative
					display flex
					align-items center
					justify-content space-between
					padding 0 1.53rem
					height 100%
						
					&:after
						content ""
						square 1rem
						mask($arrow-down)
						background alpha($black, .8)
						margin 0 0 0 2rem
					
					select
						position absolute
						top 0
						left 0
						square 100%
						opacity 0
						cursor pointer
						
					.current-value
						font-size 1.3rem
						box()
						
				.item-date
					display flex
					width 100%
					align-items center
					justify-content space-between
					height 100%
					
					input
						position relative
						width auto
						left 0
						opacity 1
						box-shadow none
						background-color transparent
						border 0
						padding 0 1.53rem
						outline none
						box()
						
		.list-artigos
			width 100%
			margin 4rem 0 0
			
			.artigo
				width 100%
				display flex
				align-items flex-start
				margin 0 0 3rem 0
				
				&:last-child
					.infos
						border 0
				
				.photo
					display flex
					align-items center
					justify-content center
					square 3.5rem
					// display block
					border-radius 50%
					flex none
					// replace('https://picsum.photos/seed/200/300', center, center)
					// border 1px solid $green
					// bgsize cover
					background $green
					box()
					
					span
						position relative
						top .1rem
						font-size 1.75rem
						color #fff
						font('bold')
						text-transform uppercase
					
				.infos
					flex 1
					margin 0 0 0 1.53rem
					padding .53rem 0 2rem 0
					border-bottom 1px solid alpha($black, .12)
					box()
					
					.header-infos
						width 100%
						display flex
						flex-direction column
						
						.name
							font-size 1.32rem
							font('medium')
							color $green
							
						.especialidade
							font-size 1.1rem
							color alpha($black, .53)
							margin .15rem 0 0
							
					.wrap-infos
						width 100%
						margin 2rem 0 0
						
						.title
							font-size 2.15rem
							text-transform uppercase
							font('medium')
							
						.description
							font-size 1.4rem
							color alpha($black, .53)
							line-height normal
							margin .15rem 0 0
							display block
							
					.footer-infos
						width 100%
						display flex
						align-items center
						justify-content space-between
						margin 2rem 0 0
						
						.type
							display flex
							flex-direction column
							
							.title-type
								font-size 1.32rem
								text-transform uppercase
								font('medium')
								
							.date
								color alpha($black, .53)
								display block
								margin .15rem 0 0
								
						.group-buttons
							.btn-download
								padding .8rem 2rem
								border-color $green
								color $green
								font-size 1.15rem
								text-decoration none
								
							.btn-view
								padding 0
								border 0
								font-size 1.1rem
								padding 0 2rem
								font('regular')
								text-decoration none
								color alpha($black, .8)
								
	@media screen and (max-width: 780px)
		&.artigos
			.filtro
				.list
					flex-direction column
					align-items flex-start
					
					.item
						width 100%
						height 4rem
						margin 0 0 .53rem 0
						
						input
							width 100%
						
						.custom-select
							width 100%
							
			.list-artigos 
				.artigo 
					.infos 
						.footer-infos
							flex-direction column
							align-items flex-start
							
							.group-buttons
								width 100%
								display flex
								margin 1.32rem 0 0
								justify-content space-between
								
								a
									display flex
									align-items center
									
									&.btn-view
										border 1px solid alpha($black, .15)