@import '../libs/Icons'
@import '../libs/Colors'

.eventos
	position relative
	width 100%
	flex 1
	box()
	
	.menu-principal-container .menu
		.tab-list
			.tab
				color red

.section-eventos,
.eventos	
	.tab-content
		&[data-month]
			display none
			
			&.active
				display block

.list-events
	display grid
	grid-template-columns 1fr 1fr 1fr
	grid-column-gap 1.5rem
	grid-row-gap 1.5rem
	
	@media screen and (max-width: 920px)
		grid-template-columns 1fr 1fr

		
@import '../components/event-card'