@import '../libs/Colors'
@import '../libs/Icons'

.home
	position relative
	width 100%
	flex 1
	box()
	// display flex
	// flex-direction column
	
	.swiper-container
		.swiper-wrapper
			height auto
	
	section
		position relative
		margin 8rem 0 0
		
		.header-section
			margin 0 0 1.8rem 0
			
			h2.title-section
				font-size 4rem
				font('black')
				text-transform uppercase
				
		@media screen and (max-width: $mobile)
			.header-section
				h2.title-section
					font-size 3.2rem

	.section-downloads
		width 100%
		display grid
		grid-template-columns 1fr 1fr 1fr
		grid-column-gap 1.5rem
		grid-row-gap 1.5rem
		margin 3rem 0 0
		
		@media screen and (max-width: $mobile)
			grid-template-columns 1fr
		
		.group-download
			padding 1.5rem 0
			box()
			background #F7F7F7
			border-radius 6px
			
			&:last-child
				margin 0
				
			.header-downloads
				width 100%
				padding 0 1.5rem
				box()
				
				h3.title
					display block
					font('medium')
					font-size 1.3rem
					text-align center
					padding 0 0 1.3rem 0
					border-bottom 1px solid alpha($black, .15)
					box()
				
			.list
				margin 1.5rem 0 0
				
				.download
					display flex
					align-items flex-start
					border-bottom 1px solid alpha($black, .05)
					margin 0 0 1.2rem 0
					padding 0 1.5rem 1.2rem 1.5rem
					box()
					
					a
						display flex
						align-items flex-start
						text-decoration none
						cursor pointer
						flex 1
						
					&:hover
						color $green
						
						.content
							.title
								color alpha($green, 1)
							.description
								color alpha($green, .8)
						
					&:last-child
						margin 0
						border 0
						padding-bottom 0
					
					.content
						flex 1
						
						.title
							font('medium')
							color alpha($black, .8)
							font-size 1.15rem
							
						.description
							font-size 1.03rem
							color alpha($black, .53)
							display block
							margin .5rem 0 0
							
					.btn-download
						flex none
						square 1.5rem
						padding 0
						border 0
						mask($download)
						background $green
	
	.section-semjaleco
		width 100%
		margin 12rem 0 0 
		
		&:before
			content ""
			position absolute
			left 50%
			top 0
			width 100vw
			height 85%
			background #fff
			transform translate(-50%, -13%)
			z-index -1
			
		.list-edicoes
			display block
			
			.edicao
				grid-column-start 1
				grid-column-end 4
				margin 0 0 3rem 0
				
				a
					flex-direction row
					
				.image
					width 50%
					height 30rem
					border-radius 6px
					
				.content-edicao
					width 50%
					padding 1.2rem 0 1.2rem 3.7rem
					box()
					background transparent
					
					.header-content
						flex none

						.infos
							margin 1.53rem 0 0
							h3.title
								width 75%
								font-size 3rem
								line-height 3.5rem
								
							.number
								font-size 1.53rem
						
					.text
						// margin 4rem 0 0
						flex 1
						display flex
						justify-content space-between
						flex-direction column
						
						p.substract
							font-size 1.5rem
							line-height 2rem
				
				@media screen and (max-width: $mobile)
					.image
						height 18rem
						
				@media screen and (max-width: 920px)
					grid-column-end 3
					
					a
						flex-direction column
						
					.image
						width 100%
						border-radius 6px 6px 0 0
						
					.content-edicao
						width 100%
						padding 1.2rem
						background #fff
						border-radius 6px
	
	.tab-list
		.tab
			&.active
				position relative
				
				&:before
					content ""
					position absolute
					bottom 0
					left 0
					width 100%
					height 2px
					background $black
	
@import '../pages/eventos'
@import '../components/banner'