@font-face {
  font-family: 'ff-thin';
  src: url("../../fonts/font-thin.woff2") format('woff2'), url("../../fonts/font-thin.woff") format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'ff-light';
  src: url("../../fonts/font-light.woff2") format('woff2'), url("../../fonts/font-light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ff-bold';
  src: url("../../fonts/font-bold.woff2") format('woff2'), url("../../fonts/font-bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ff-black';
  src: url("../../fonts/font-black.woff2") format('woff2'), url("../../fonts/font-black.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'ff-extraLight';
  src: url("../../fonts/font-extraLight.woff2") format('woff2'), url("../../fonts/font-extraLight.woff") format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'ff-book';
  src: url("../../fonts/font-book.woff2") format('woff2'), url("../../fonts/font-book.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ff-medium';
  src: url("../../fonts/font-medium.woff2") format('woff2'), url("../../fonts/font-medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'ff-regular';
  src: url("../../fonts/font-regular.woff2") format('woff2'), url("../../fonts/font-regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ff-ultra';
  src: url("../../fonts/font-ultra.woff2") format('woff2'), url("../../fonts/font-ultra.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}
.section-iep .tab-content {
  margin: 3.5rem 0 5rem;
}
.section-iep p,
.section-iep ul,
.section-iep ol {
  font-size: 1.53rem;
  line-height: 2.5rem;
  margin: 0 0 2.53rem 0;
}
.section-iep p:empty,
.section-iep ul:empty,
.section-iep ol:empty {
  display: none;
}
.section-iep p:last-child,
.section-iep ul:last-child,
.section-iep ol:last-child {
  margin: 0;
}
.section-iep a {
  color: #4aabff;
  font-family: 'ff-book';
}
.section-iep h1,
.section-iep h2,
.section-iep h3,
.section-iep h4,
.section-iep h5,
.section-iep h6 {
  font-family: 'ff-medium';
  margin: 0 0 1.32rem;
  color: #2d2e2f;
}
.section-iep h1:last-child,
.section-iep h2:last-child,
.section-iep h3:last-child,
.section-iep h4:last-child,
.section-iep h5:last-child,
.section-iep h6:last-child {
  margin: 0;
}
.section-iep h1 {
  font-size: 4rem;
  line-height: 4.8rem;
}
.section-iep h2 {
  font-size: 3.8rem;
  line-height: 4.3rem;
}
.section-iep h3 {
  font-size: 3rem;
  line-height: 3.5rem;
}
.section-iep h4 {
  font-size: 2.5rem;
  line-height: 3rem;
}
.section-iep h5 {
  font-size: 2rem;
  line-height: 2.5rem;
}
.section-iep h6 {
  font-size: 1.6rem;
  line-height: 2.1rem;
}
.section-iep ul {
  width: 100%;
  list-style: disc;
  font-family: 'ff-book';
}
.section-iep hr {
  display: none;
}
@media screen and (max-width: 620px) {
  .section-iep h1 {
    font-size: 3.8rem;
    line-height: 4.3rem;
  }
  .section-iep h2 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .section-iep h3 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .section-iep h4 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .section-iep h5 {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
  .section-iep h6 {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
