@import '../libs/Icons'
@import '../libs/Colors'

.iep
	.tab-content
		.thumb
			margin 2rem 0 4rem
			
		.local
			width 100%
			border-radius 6px
			overflow hidden
			border 1px solid alpha($black, .12)
			display flex
			
			@media screen and (max-width: $mobile)
				width 100%
				
			.group
				width 35%
				background $green
				display flex
				align-items center
				flex-direction column
				
				.header-local
					width 100%
					font-size 1.53rem
					padding 1.32rem 0
					text-align center
					font('bold')
					color #fff
					text-transform uppercase
					box()
				
				.wrap-local
					width 100%
					display flex
					flex 1
					flex-direction column
					align-items center
					
					.icon
						square 4rem
						mask($pin)
						background-color #fff
						margin 1.65rem 0
						box()
						
					.content-local
						width 100%
						flex 1
						display flex
						align-items center
						justify-content center
						border-top 1px solid alpha(#fff, .32)
						padding 1rem 1.32rem
						box()
						
						span
							color alpha(#fff, .8)
							font-size 1.32rem
							line-height 1.6rem

			.map
				width 65%
				replace($bg-maps)
				bgsize cover
				min-height 22rem
				background-position center center
				
			@media screen and (max-width: 480px)
				flex-direction column
				
				.group,
				.map
					width 100%
					
				.map
					min-height 18rem
		
		.mais-informacoes
			width 100%
			
			.title
				font-size 2.15rem
				text-transform uppercase
				color $black
				font('bold')
				
			.list
				display flex
				align-items center
				margin 1rem 0 0
				padding 3rem 0
				border-top 1px solid alpha($black, .15)
				box()
				
				.item
					display flex
					align-items flex-start
					margin 0 3rem 0 0
					
					.icon
						flex none
						square 2rem
						background $green
						margin 0 1rem 0 0
						
					.content-item
						display flex
						flex-direction column
						
						.description
							font-size 1.32rem
							color alpha($black, .53)
							
						.value
							display block
							margin .53rem 0 0
							font-size 1.53rem
							font('medium')
							
					&.phone
						.icon
							mask($phone)
					&.email
						.icon
							mask($mailbox)

		.content
			margin 0 0 4rem 0
			
			p,
			ul,
			ol
				font-size 1.53rem
				line-height 2.5rem
				margin 0 0 2.53rem 0
				
				&:empty
					display none
					
				&:last-child
					margin 0
				
			a
				color $blue
				font('book')
				
			h1,
			h2,
			h3,
			h4,
			h5,
			h6
				font('medium')
				margin 0 0 1.32rem
				color $black
				
				&:last-child
					margin 0
				
			h1
				font-size 4rem
				line-height 4.8rem
			h2
				font-size 3.8rem
				line-height 4.3rem
			h3
				font-size 3rem
				line-height 3.5rem
			h4
				font-size 2.5rem
				line-height 3rem
			h5
				font-size 2rem
				line-height 2.5rem
			h6
				font-size 1.6rem
				line-height 2.1rem
				
			ul
				width 100%
				list-style disc
				font('book')
			
			hr
				display none
				
			@media screen and (max-width: $mobile)
				h1
					font-size 3.8rem
					line-height 4.3rem
				h2
					font-size 3rem
					line-height 3.5rem
				h3
					font-size 2.5rem
					line-height 3rem
				h4
					font-size 2rem
					line-height 2.5rem
				h5
					font-size 1.6rem
					line-height 2.1rem
				h6
					font-size 1.2rem
					line-height 1.8rem