@import '../libs/Icons'
@import '../libs/Colors'

.list-news
	&.list
		width 100%

.news
	.list-edicoes
		.edicao
			display block
			
	&.news-semjaleco
		.header-section-news
			strong
				color $orange
				
			.icon
				&:before
					background $orange
			
	&.news-medicoemfoco
		.header-section-news
			strong
				color $green
				
			.icon
				&:before
					background $green
					
		.edicao a:hover .content-edicao .header-content .infos h3.title
			color $green
			
.header-section-news
	width 100%
	display flex
	flex-direction column
	align-items center
	justify-content center
	color alpha($black, .8)
	background-color #F7F7F7
	padding 4rem 2rem
	box()
	border-radius 6px
	margin 0 0 3rem 0
	
	
	.title
		width 70%
		display block
		text-align center
		font-size 2rem
		line-height 2.4rem
		font('light')
		
		strong
			display inline-block
			font('medium')
			color $orange
		
	.icon
		width 3.2rem
		height 5.5rem
		margin 3.2rem 0 0
		border-radius 999px
		border 2px solid alpha($black, .8)
		display flex
		align-items center
		justify-content center
		
		.line
			position relative
			width .53rem
			height 60%
			border-radius 99px
			linear_gradient(top, alpha($black, .12), #F7F7F7)
			
			&:before
				content ""
				position absolute
				top 0
				left 0
				width 100%
				height 35%
				background $orange
				border-radius 99px			
				
	p
		font-size 1.2rem
		margin 3.2rem 0 0      
		
	@media screen and (max-width: $mobile)
		padding 2rem
		
		.title
			width 100%
			font-size 1.8rem
			line-height 2rem
			
		.icon
			margin 1.8rem 0 0
			
		p
			margin 1.8rem 0 0

@import '../components/new-card'
@import '../components/edicao-card'