@import '../libs/Icons'
@import '../libs/Colors'

.normas
	position relative
	width 100%
	flex 1
	box()
	
	.list-dowloads
		width 100%
		display grid
		grid-template-columns 1fr 1fr 1fr
		grid-column-gap 1.5rem
		grid-row-gap 1.5rem
		
		@media screen and (max-width: 920px)
			grid-template-columns 1fr 1fr	
		
		@media screen and (max-width: $mobile)
			grid-template-columns 1fr	
		
		.dowload
			display flex
			flex-direction column
			justify-content space-between
			border 1px solid alpha($black, .12)
			background #fff
			border-radius 6px
			cursor pointer
			transition all .15s
			
			&:hover
				background-color $green
				border-color $green
				color #fff
				
				.content-item
					.header-item
						.type
							color #fff
							
						.publication
							color alpha(#fff, .53)
							
					.content
						.description
							color #fff
							
				.footer-item
					.size-content
						.description
							color alpha(#fff, .53)
							
					.buttons
						.btn-dowload
							color $green
							border-color #fff
							background #fff

			.content-item
				display flex
				flex-direction column
				justify-content space-between
				padding 1.32rem
				box()
				
				.header-item
					display flex
					flex-direction column
					
					.type
						text-transform uppercase
						font-size 1.2rem
						font('medium')
						color $green
						
					.publication
						font-size .9rem
						color alpha($black, .53)

				.content
					margin 4.5rem 0 0
					
					h3.title
						font-size 1.53rem
						font('bold')
						text-transform uppercase
						
					.description
						display block
						font-size 1rem
						color alpha($black, .53)
						margin .32rem 0 0
						line-height 1.3rem
						
			@media screen and (max-width: $mobile)
				.content-item
					.content
						margin 2rem 0 0 0
				
			.footer-item
				width 100%
				display flex
				justify-content space-between
				border-top 1px solid alpha($black, .12)
				padding 1.32rem
				box()
				align-items center

				.size-content
					display flex
					flex-direction column
					
					.size
						text-transform uppercase
						font-size 1.1rem
						font('medium')
						
					.description
						font-size .85rem
						color alpha($black, .53)
						display block
						margin .12rem 0 0
					
				.buttons
					.btn-dowload
						font-size 1rem
						padding .7rem 1.53rem
						color $green
						border-color $green