@import '../libs/Icons'
@import '../libs/Colors'

.page-template
	.content-page
		margin 8rem 0 0
		
		.content
			margin 3.5rem 0 5rem
			
		p,
		ul,
		ol
			font-size 1.53rem
			line-height 2.5rem
			margin 0 0 2.53rem 0
			
			&:empty
				display none
				
			&:last-child
				margin 0
			
		a
			color $blue
			font('book')
			
		h1,
		h2,
		h3,
		h4,
		h5,
		h6
			font('medium')
			margin 0 0 1.32rem
			color $black
			
			&:last-child
				margin 0
			
		h1
			font-size 4rem
			line-height 4.8rem
		h2
			font-size 3.8rem
			line-height 4.3rem
		h3
			font-size 3rem
			line-height 3.5rem
		h4
			font-size 2.5rem
			line-height 3rem
		h5
			font-size 2rem
			line-height 2.5rem
		h6
			font-size 1.6rem
			line-height 2.1rem
			
		ul
			width 100%
			list-style disc
			font('book')
		
		hr
			display none
			
		@media screen and (max-width: $mobile)
			h1
				font-size 3.8rem
				line-height 4.3rem
			h2
				font-size 3rem
				line-height 3.5rem
			h3
				font-size 2.5rem
				line-height 3rem
			h4
				font-size 2rem
				line-height 2.5rem
			h5
				font-size 1.6rem
				line-height 2.1rem
			h6
				font-size 1.2rem
				line-height 1.8rem