@font-face {
  font-family: 'ff-thin';
  src: url("../../fonts/font-thin.woff2") format('woff2'), url("../../fonts/font-thin.woff") format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'ff-light';
  src: url("../../fonts/font-light.woff2") format('woff2'), url("../../fonts/font-light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ff-bold';
  src: url("../../fonts/font-bold.woff2") format('woff2'), url("../../fonts/font-bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ff-black';
  src: url("../../fonts/font-black.woff2") format('woff2'), url("../../fonts/font-black.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'ff-extraLight';
  src: url("../../fonts/font-extraLight.woff2") format('woff2'), url("../../fonts/font-extraLight.woff") format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'ff-book';
  src: url("../../fonts/font-book.woff2") format('woff2'), url("../../fonts/font-book.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ff-medium';
  src: url("../../fonts/font-medium.woff2") format('woff2'), url("../../fonts/font-medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'ff-regular';
  src: url("../../fonts/font-regular.woff2") format('woff2'), url("../../fonts/font-regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ff-ultra';
  src: url("../../fonts/font-ultra.woff2") format('woff2'), url("../../fonts/font-ultra.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}
.page-template-default .tab-content {
  margin: 3.5rem 0 5rem;
}
.page-template-default .tab-content p,
.page-template-default .tab-content ul,
.page-template-default .tab-content ol {
  font-size: 1.53rem;
  line-height: 2.5rem;
  margin: 0 0 2.53rem 0;
}
.page-template-default .tab-content p:empty,
.page-template-default .tab-content ul:empty,
.page-template-default .tab-content ol:empty {
  display: none;
}
.page-template-default .tab-content p:last-child,
.page-template-default .tab-content ul:last-child,
.page-template-default .tab-content ol:last-child {
  margin: 0;
}
.page-template-default .tab-content a {
  color: #4aabff;
  font-family: 'ff-book';
}
.page-template-default .tab-content h1,
.page-template-default .tab-content h2,
.page-template-default .tab-content h3,
.page-template-default .tab-content h4,
.page-template-default .tab-content h5,
.page-template-default .tab-content h6 {
  font-family: 'ff-medium';
  margin: 0 0 1.32rem;
  color: #2d2e2f;
}
.page-template-default .tab-content h1:last-child,
.page-template-default .tab-content h2:last-child,
.page-template-default .tab-content h3:last-child,
.page-template-default .tab-content h4:last-child,
.page-template-default .tab-content h5:last-child,
.page-template-default .tab-content h6:last-child {
  margin: 0;
}
.page-template-default .tab-content h1 {
  font-size: 4rem;
  line-height: 4.8rem;
}
.page-template-default .tab-content h2 {
  font-size: 3.8rem;
  line-height: 4.3rem;
}
.page-template-default .tab-content h3 {
  font-size: 3rem;
  line-height: 3.5rem;
}
.page-template-default .tab-content h4 {
  font-size: 2.5rem;
  line-height: 3rem;
}
.page-template-default .tab-content h5 {
  font-size: 2rem;
  line-height: 2.5rem;
}
.page-template-default .tab-content h6 {
  font-size: 1.6rem;
  line-height: 2.1rem;
}
.page-template-default .tab-content ul {
  width: 100%;
  list-style: disc;
  font-family: 'ff-book';
}
.page-template-default .tab-content hr {
  display: none;
}
@media screen and (max-width: 620px) {
  .page-template-default .tab-content h1 {
    font-size: 3.8rem;
    line-height: 4.3rem;
  }
  .page-template-default .tab-content h2 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .page-template-default .tab-content h3 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .page-template-default .tab-content h4 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .page-template-default .tab-content h5 {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
  .page-template-default .tab-content h6 {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
