@import '../libs/Icons'
@import '../libs/Colors'

.page-search
	width 100%
	flex 1
	.header-search
		.title-search
			font-size 1.53rem
			color alpha($black, .8)
			
			strong
				font('medium')
				color $black
	
	.list-results
		width 100%
		margin 2rem 0 0
		
		.result
			width 100%
			margin 0 0 2rem 0
			
			&:hover
				.title-result
					color darken($green, 20%)
			
			a
				display flex
				flex-direction column
				text-decoration none
				font-size 1.3rem
				line-height 1.8rem
				
			.title-result
				font-size 1.8rem
				font('medium')
				color $green
				
			.link-result
				color $black
				font-size 1.32rem
				// font('medium')
				
			.link-description
				margin .53rem 0 0
				display block
				color alpha($black, .62)
				
			.thumb
				margin .53rem 0 0
				border-radius 6px
				
	.not-found-search
		width 100%
		
		h3.title
			font-size 1.53rem
			color alpha($black, .8)
			
			strong
				font('medium')
				color $black
				
		.description
			font-size 1.3rem
			color alpha($black, .53)
			display block
			margin .15rem 0 0
			
			strong
				font('medium')
				color $black
			
		.list-sugestoes
			margin 2rem 0 0
			
			.title-list
				font-size 1.8rem
				font('medium')
				
			.list
				margin .53rem 0 0
				
				.item
					font-size 1.32rem
					color alpha($black, .8)
					display block
					width 100%
					margin 0 0 .53rem 0