@import '../libs/Icons'
@import '../libs/Colors'

.praticas
	position relative
	width 100%
	flex 1
	box()
		
	.comissao,
	.diretoria
		width 100%
		margin 0 0 5.5rem 0
		
		.header-comissao,
		.header-diretoria
			display flex
			flex-direction column
			
			h3.title
				width 65%
				display block
				line-height 2.2rem
				font-size 1.75rem
				font('medium')
				text-transform uppercase
				
				@media screen and (max-width: 620px)
					width 100%
					line-height 2rem
					font-size 1.53rem
				
			.infos
				width 100%
				display flex
				margin .8rem 0 0
				
				span
					display flex
					align-items center
					font-size 1.32rem
					color alpha($black, .53)
					margin 0 1.2rem 0 0

					&:before
						content ""
						position relative
						top -0.2rem
						square 1.53rem
						background $green
						display block
						margin 0 .53rem 0 0
						
					&.phone
						&:before
							mask($phone)

					&.hours
						&:before
							mask($clock)

		.members
			margin 2rem 0 0
			
			.title
				font-size 1.3rem
				font('medium')
				
			.member
				border-radius 6px
				padding 1.2rem
				box()
				background-color #fff
				border 1px solid alpha($black, .12)
				min-height 15rem
				display flex
				flex-direction column
				
				@media screen and (max-width: $mobile)
					min-height 14rem
				
				.content-infos
					width 100%
					display flex
					flex-direction column
					flex 1
					
					.photo
						square 4rem
						background blue
						border-radius 999px
						margin 0 0 1rem 0
						bgsize cover
						background-position center 0
						
					.cargo
						font-size 1rem
						color alpha($black, .8)
						
					.name
						font-size 1.3rem
						font('medium')
						margin .15rem 0 0
						line-height 1.4rem
						
				.footer-infos
					margin 2rem 0 0
					display flex
					font-size 1.1rem
					color alpha($black, .53)
					align-items flex-end
					
					.infos
						display flex
						flex-direction column
						flex 1

						.especialidade
							font-size 1.1rem
							
						.crm
							font-size 1rem
							margin .32rem 0 0
							text-transform uppercase
							
					.go
						flex none
						square 1rem
						background $green
						mask($arrow-right)
						
					@media screen and (max-width: $mobile)
						margin 1rem 0 0
				
			.content-members
				width 100%
				margin 1rem 0 0
				display grid
				grid-template-columns 1fr 1fr 1fr 1fr
				grid-column-gap 1.5rem
				
				&[data-presidente]
					grid-template-columns 1fr 1fr 1fr 1fr 1fr
					
					@media screen and (max-width: 620px)
						grid-template-columns 1fr 1fr 1fr
						
					@media screen and (max-width: $mobile)
						grid-template-columns 1fr 1fr
						
					.list-members
						grid-column-start 2
						grid-column-end 6
						grid-template-columns 1fr 1fr 1fr 1fr
				
				.presidente
					.member
						background $green
						color #fff
						
						.content-infos
							.cargo
								color #fff
								
						.footer-infos
							color #fff
							
							.go
								background #fff
				
				.list-members
					display grid
					width 100%
					grid-column-start 1
					grid-column-end 4
					grid-template-columns 1fr 1fr 1fr
					grid-column-gap 1.5rem
					grid-row-gap 1.5rem
					
					@media screen and (max-width: 620px)
						grid-template-columns 1fr 1fr
						
					@media screen and (max-width: $mobile)
						grid-template-columns 1fr